@import "src/styles/app-vars.scss";

mat-toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  padding: 0.5rem 4rem;
  display: grid;
  grid-template-columns: 1fr auto;

  .menu-brand {
    height: 2rem;
    cursor: pointer;
  }
}
