<div class="landing">
  <app-home-navigation></app-home-navigation>
  <div class="bg-shapes">
    <div class="element"></div>
    <div class="element-2"></div>
    <div class="element-3"></div>
    <div class="element-4"></div>
    <div class="element-5"></div>
    <div class="element-6"></div>
    <div class="element-7"></div>
    <div class="element-8"></div>
  </div>

  <main>
    <section class="grid grid-hero">
      <div class="title">
        <span class="bubble">Welcome to roadmapr</span>
        <!-- <h1>{{ "LANDING.TAGLINE" | translate }}</h1> -->
        <h1
          >Your personal <span class="highlight">roadmap</span> to a career in
          software development</h1
        >
      </div>
      <div>
        <img
          class="hero"
          src="assets/images/landing/roadmapr.webp"
          alt="Roadmapr Roadmap"
        />
        <!-- <img
        class="hero"
        src="assets/images/landing/roadmap{{
          userLanguage !== 'en' ? '-' + userLanguage : ''
        }}.webp"
        alt="Roadmapr Roadmap"
      /> -->
      </div>
    </section>

    <section class="description">
      <h2>What is <span class="highlight">roadmapr</span>?</h2>
      <!-- <h2>{{ "LANDING.DESCRIPTION.T" | translate }}</h2> -->
      <!-- <p>{{ "LANDING.DESCRIPTION.P1" | translate }}</p>
      <p>{{ "LANDING.DESCRIPTION.P2" | translate }}</p> -->
      <div class="cards">
        <mat-card>
          <h3 class="description-title">
            Free-to-use platform for self-taught developers
          </h3>
          <p class="description-body">
            Learning to code should be free and accessible to all.
          </p>
          <button mat-raised-button color="primary" routerLink="/register">{{
            "AUTH.REGISTER.T" | translate
          }}</button>
        </mat-card>
        <mat-card>
          <h3 class="description-title"> Organize and track your progress </h3>
          <p class="description-body">
            Stay motivated and on the right track
          </p>
        </mat-card>
        <mat-card>
          <h3 class="description-title"> Receive recommendations </h3>
          <p class="description-body"> Follow in the footsteps of others </p>
          <button mat-raised-button color="primary" routerLink="/explore"
            >Explore</button
          >
        </mat-card>
        <mat-card>
          <h3 class="description-title"> Share your achievements </h3>
          <p class="description-body">
            Expand your resume to become a professional developer
          </p>
        </mat-card>
      </div>
    </section>

    <section class="organize">
      <div class="title">
        <h2>Organize and track</h2>
        <p>Manage your learning to stay motivated and speed up your learning</p>
      </div>
      <app-demo-drop-list></app-demo-drop-list>
    </section>

    <section class="visualize">
      <div class="title">
        <h2>View progress in real time</h2>
        <p>Stay motivated</p>
      </div>

      <div class="grid">
        <app-demo-radar-chart></app-demo-radar-chart>
        <app-demo-area-chart></app-demo-area-chart>
        <div class="description"> What kind of developer are you? </div>
        <div class="description">
          Track your progress throughout the year and see how you are trending
        </div>
      </div>
    </section>

    <section class="profile">
      <div class="title">
        <h2>Build your resume</h2>
        <p
          >Stand out from the competition by building your developer CV from day
          one.</p
        >
      </div>

      <div class="user-cards">
        <div class="user-card-text">
          Stand out from other candidates by including all the courses you have
          taken and the projects you have built.
        </div>
        <mat-card
          *ngFor="let user of demoUsers; let i = index"
          class="user-card"
        >
          <div
            class="header"
            [ngStyle]="{
              backgroundImage: 'url(' + user.coverImage + ')',
              backgroundSize: 'cover !important'
            }"
          >
          </div>
          <div class="user-details">
            <img
              class="user-image"
              [src]="user.profileImage"
              alt="User Image"
            />
            <div class="user-name"
              >{{ user.firstName }} {{ user.lastName }}</div
            >
            <div class="user-path">{{ user.path.name | translate }}</div>
            <p class="user-location">{{ user.location.name | translate }}</p>
          </div>
          <span class="material-symbols-outlined trophy"> trophy </span>
        </mat-card>
      </div>
    </section>

    <section class="call-to-action">
      <h2>{{ "LANDING.CTA.T" | translate }}</h2>
      <button
        mat-raised-button
        color="primary"
        class="register-button"
        routerLink="/register"
        >{{ "AUTH.REGISTER.T" | translate }}</button
      >
    </section>

    <footer>
      <img src="assets/images/logo/logo-icon-dark-hollow.png" alt="" />
      <div class="grid">
        <div class="grid-left">
          <div>
            <a href="mailto:info@roadmapr.dev">{{
              "LANDING.FOOTER.CONTACT" | translate
            }}</a>
          </div>
          <div>
            <a href="/privacy-policy">{{
              "LANDING.FOOTER.PRIVACY" | translate
            }}</a></div
          >
        </div>
        <div class="grid-right">
          <p>{{
            "LANDING.FOOTER.COPYRIGHT" | translate : { value: currentYear }
          }}</p>
        </div>
      </div>
    </footer>
  </main>
</div>
