<section class="sidebar" [ngClass]="{ collapsed: navbarCollapsed }">
  <button class="nav-collapse" (click)="collapseNavbar()">
    <span class="material-symbols-outlined" *ngIf="!navbarCollapsed">
      chevron_left
    </span>
    <span class="material-symbols-outlined" *ngIf="navbarCollapsed">
      chevron_right
    </span>
  </button>
  <div class="sidebar-content">
    <div class="sidebar-content-1">
      <img
        *ngIf="displayLargeLogo"
        class="menu-brand"
        src="/assets/images/logo/logo.png"
        routerLink="/dashboard"
        alt="roadmapr Logo"
      />
      <img
        *ngIf="!displayLargeLogo"
        class="menu-brand"
        src="/assets/images/logo/logo-icon.png"
        routerLink="/dashboard"
        alt="roadmapr Logo Icon"
      />
    </div>

    <div class="sidebar-content-2">
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="{{ option.link }}"
          routerLinkActive="is-active"
          *ngFor="let option of options"
          class="sidebar-option"
        >
          <span
            class="material-symbols-outlined"
            #tooltip="matTooltip"
            matTooltipShowDelay="500"
            matTooltip="{{ navbarCollapsed ? option.title : null }}"
            matTooltipPosition="right"
            >{{ option.icon }}</span
          >
          <span *ngIf="!navbarCollapsed">{{ option.title }}</span>
        </a>
      </mat-nav-list>
    </div>
    <div class="sidebar-content-3">
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="/settings"
          routerLinkActive="is-active"
          class="sidebar-option"
        >
          <span
            class="material-symbols-outlined"
            #tooltip="matTooltip"
            matTooltipShowDelay="500"
            matTooltip="{{ navbarCollapsed ? 'Settings' : null }}"
            matTooltipPosition="right"
            >settings</span
          >
          <span *ngIf="!navbarCollapsed">Settings</span>
        </a>
        <a mat-list-item (click)="logout()" class="sidebar-option">
          <span
            class="material-symbols-outlined"
            #tooltip="matTooltip"
            matTooltipShowDelay="500"
            matTooltip="{{ navbarCollapsed ? 'Logout' : null }}"
            matTooltipPosition="right"
            >logout</span
          >
          <span *ngIf="!navbarCollapsed">Logout</span>
        </a>
      </mat-nav-list>
    </div>
  </div>
</section>
