<div class="auth-container">
  <div class="auth-brand">
    <img
      class="menu-brand"
      src="/assets/images/logo/logo-dark.png"
      alt="roadmapr Logo"
    />
  </div>

  <form [formGroup]="form">
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label for="email">{{ "FORMS.EMAIL" | translate }}</mat-label>
        <input
          matInput
          type="email"
          [placeholder]="'FORMS.PLACEHOLDER.EMAIL' | translate"
          name="email"
          formControlName="emailCtrl"
          required
        />
        <mat-error *ngIf="form.controls.emailCtrl?.hasError('required')">{{
          "FORMS.REQUIRED.EMAIL" | translate
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-action">
      <button
        mat-raised-button
        color="primary"
        (click)="sendResetPasswordEmail()"
        [disabled]="!form.valid"
      >
        <span *ngIf="!emailSending">Reset Password</span>

        <span class="auth-spinner" *ngIf="emailSending">
          <mat-spinner matSuffix [diameter]="27"></mat-spinner>
        </span>
      </button>
    </div>

    <div>
      <a class="auth-type-switch" (click)="showLogin()">Back to Login</a>
    </div>
  </form>
</div>
