<div class="auth-container">
  <div class="auth-brand">
    <img
      class="menu-brand"
      src="/assets/images/logo/logo-dark.png"
      alt="roadmapr Logo"
    />
  </div>

  <app-update-password-inputs
    #inputs
    [tooltipHint]="true"
    [hasPassword]="false"
  ></app-update-password-inputs>

  <div class="form-action">
    <button
      mat-raised-button
      color="primary"
      (click)="resetPassword()"
      [disabled]="!inputs.form.valid"
    >
      <span *ngIf="!resetPasswordPending">{{
        "AUTH.RESET_PASSWORD.T" | translate
      }}</span>

      <span class="auth-spinner" *ngIf="resetPasswordPending">
        <mat-spinner matSuffix [diameter]="27"></mat-spinner>
      </span>
    </button>
  </div>

  <div>
    <a class="auth-type-switch" (click)="showLogin()">{{
      "AUTH.RESET_PASSWORD.BACK_TO_LOGIN" | translate
    }}</a>
  </div>
</div>
