@import "src/styles/app-vars.scss";

.header {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
}

.basic-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media screen and (min-width: $breakpoint-tablet-large) {
    grid-template-columns: 1fr 1fr;
  }
}

.path {
  display: grid;
  grid-template-columns: 1fr;

  h2 {
    font-size: 1.2rem;
  }

  .quiz-link {
    color: #00bfd6;
    cursor: pointer;
  }
}

.actions {
  display: grid;
  justify-content: end;
  grid-template-columns: auto auto;
  gap: 1rem;
}

// Frontend Developer, Backend Developer, Full-Stack Developer, DevOps Developer, Blockchain Developer, Game Developer, App Developer, Security Developer
