<div class="blog">
  <app-home-navigation></app-home-navigation>
  <header>
    <div class="title">
      <h1><span class="highlight">roadmapr</span> blog</h1>
      <p>A self-taught developer space</p>
    </div>
    <div class="search">
      <mat-form-field appearance="outline">
        <input
          #search
          matInput
          type="text"
          placeholder="Search"
          (keyup)="filterBlogs($event)"
        />
        <mat-icon *ngIf="!search.value" matSuffix>search</mat-icon>
        <mat-icon
          class="clear-icon"
          *ngIf="search.value"
          (click)="clearFilter()"
          matSuffix
          >clear</mat-icon
        >
      </mat-form-field>
    </div>
  </header>
  <main>
    <div class="blog-card-grid">
      <app-blog-card
        *ngFor="let blog of filteredBlogs"
        [data]="blog"
        (openBlog)="openBlog($event)"
      ></app-blog-card>
    </div>

    <section>
      <mat-card class="contribute">
        <div class="text">
          <h2>We want to hear from you.</h2>
          <p
            >The roadmapr blog is open for contributions, we want to hear about
            your journey</p
          >
        </div>
        <button mat-raised-button color="primary">Contribute</button>
      </mat-card>
    </section>
  </main>
  <footer>
    <div class="grid">
      <div class="grid-left">
        <div>
          <a href="mailto:info@roadmapr.dev">{{
            "LANDING.FOOTER.CONTACT" | translate
          }}</a>
        </div>
        <div>
          <a href="/privacy-policy">{{
            "LANDING.FOOTER.PRIVACY" | translate
          }}</a></div
        >
      </div>
      <div class="grid-right">
        <p>{{
          "LANDING.FOOTER.COPYRIGHT" | translate : { value: currentYear }
        }}</p>
      </div>
    </div>
  </footer>
</div>
