form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  .full-width {
    grid-column: 1 / -1;
  }
}

.actions {
  float: right;
}

.options {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;

  img {
    height: 1.5rem;
  }
}