mat-card-header {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;

  mat-card-title {
    img {
      margin-right: 0.3rem;
    }
  }

  mat-card-subtitle {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .roadmap-stack {
    text-align: end;
    padding-right: 1rem;

    img {
      height: 1.2rem;
      width: 1.2rem;
    }
  }
}
