<mat-card>

  <mat-card-header>
    <mat-card-title>Web Developer Bootcamp</mat-card-title>
    <mat-card-subtitle>Udemy (Feb 2020 - Jul 2020) </mat-card-subtitle>
    
    <div class="roadmap-stack">
      <img matTooltip="HTML" position="above" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
      <img matTooltip="CSS" position="above" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
      <img matTooltip="Bootstrap" position="above" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" />
      <img matTooltip="JavaScript" position="above" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
      <img matTooltip="MongoDB" position="above" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg" />
      <img matTooltip="Node.js" position="above" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" />
    </div>
  </mat-card-header>

  <mat-card-content>
    <p>Brief course description outlining what your experience was and why someone else should take this course</p>

    <div class="card-actions">
      <mat-chip-list>
        <mat-chip>Object-oriented programming</mat-chip>
        <mat-chip>Security</mat-chip>
        <mat-chip>Web Design</mat-chip>
      </mat-chip-list>

      <button mat-raised-button color="primary">Read more</button>
    </div>

  </mat-card-content>

</mat-card>