mat-card {
  margin: 1rem 0;
  
  mat-card-header {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;

    mat-card-title {
      img {
        height: 1rem;
        margin-right: 0.3rem;
      }
    }

    mat-card-subtitle {
      font-size: 0.8rem;
    }
  
    .roadmap-stack {
      text-align: end;
      padding-right: 1rem;
  
      img {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        margin: 0 .1rem;
      }
    }
  }
  
  mat-card-content {
    padding: 0 1rem;
  
    .card-actions {
      display: grid;
      grid-template-columns: 1fr auto;
  
      mat-chip {
        font-size: .7rem;
      }
    }
  }
}

