<mat-card>
  <mat-card-header>
    <mat-card-title>
      <img
        src="/assets/images/roadmap/{{ data.type }}.png"
        class="app-roadmap-type-icon"
      />
      {{ data.title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ data.author || data.provider || data.institution }}
      <!-- ({{ data.startDate | date }} - {{ (data.endDate | date) || "Present" }}) -->
    </mat-card-subtitle>

    <div class="roadmap-stack">
      <img
        *ngFor="let tech of data.stack"
        class="app-roadmap-stack-icon"
        matTooltip="{{ tech.title }}"
        src="/assets/images/stack/{{ tech.name }}-original.svg"
      />
    </div>
  </mat-card-header>

  <!-- <mat-card-content>
    <p>{{ data.description }}</p>

    <div class="card-actions">
      <mat-chip-list>
        <mat-chip *ngFor="let item of data.topics">{{ item }}</mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-content> -->
</mat-card>
