<form [formGroup]="form">
  <div class="form-title">{{
    "PROFILE.UPDATE.CONTACT_AND_SOCIAL" | translate
  }}</div>
  <div class="social-grid">
    <mat-form-field appearance="outline">
      <mat-label>{{ "FORMS.CV" | translate }}</mat-label>
      <input #cv matInput formControlName="cvCtrl" />
      <mat-error *ngIf="form.controls.cvCtrl.hasError('pattern')">
        {{ "FORMS.ERROR.LINK_INVALID" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ "FORMS.LINKEDIN_USER" | translate }}</mat-label>
      <input #linkedIn matInput formControlName="linkedInCtrl" />
      <mat-error *ngIf="form.controls.linkedInCtrl.hasError('pattern')">
        {{ "FORMS.ERROR.LINK_INVALID" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ "FORMS.PORTFOLIO" | translate }}</mat-label>
      <input #portfolio matInput formControlName="portfolioCtrl" />
      <mat-error *ngIf="form.controls.portfolioCtrl.hasError('pattern')">
        {{ "FORMS.ERROR.LINK_INVALID" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ "FORMS.X_USER" | translate }}</mat-label>
      <input #x matInput formControlName="xCtrl" />
      <mat-error *ngIf="form.controls.xCtrl.hasError('pattern')">
        {{ "FORMS.ERROR.LINK_INVALID" | translate }}
      </mat-error>
    </mat-form-field>
  </div>
</form>
