<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="basicDetailsForm">
    <form [formGroup]="basicDetailsForm" class="basic-details">
      <ng-template matStepLabel>Basic Details</ng-template>
      <mat-form-field appearance="outline" class="full-width-grid-item">
        <mat-label>{{ "FORMS.PROFILE_IMAGE" | translate }}</mat-label>
        <input matInput formControlName="profileImageCtrl" />
        <mat-error *ngIf="basicDetailsForm.controls.profileImageCtrl.invalid">{{
          "FORMS.REQUIRED.PROFILE_IMAGE" | translate
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "FORMS.FIRST_NAME" | translate }}</mat-label>
        <input matInput formControlName="firstNameCtrl" />
        <mat-error *ngIf="basicDetailsForm.controls.firstNameCtrl.invalid">{{
          "FORMS.REQUIRED.FIRST_NAME" | translate
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "FORMS.LAST_NAME" | translate }}</mat-label>
        <input matInput formControlName="lastNameCtrl" />
        <mat-error *ngIf="basicDetailsForm.controls.lastNameCtrl.invalid">{{
          "FORMS.REQUIRED.LAST_NAME" | translate
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "FORMS.LOCATION" | translate }}</mat-label>

        <mat-select #location formControlName="locationCtrl">
          <mat-option
            *ngFor="let country of countryList"
            [value]="country.en_short_name"
          >
            <div class="type-option"> {{ country.en_short_name }} </div>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="basicDetailsForm.controls.locationCtrl.invalid">{{
          "FORMS.REQUIRED.LOCATION" | translate
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "FORMS.NATIONALITY" | translate }}</mat-label>
        <mat-select #nationality formControlName="nationalityCtrl">
          <mat-option
            *ngFor="let country of countryList"
            [value]="country.en_short_name"
          >
            <div class="type-option"> {{ country.en_short_name }} </div>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="basicDetailsForm.controls.nationalityCtrl.invalid">{{
          "FORMS.REQUIRED.NATIONALITY" | translate
        }}</mat-error>
      </mat-form-field>

      <!-- <mat-form-field appearance="outline">
      <mat-label>{{ "FORMS.LANGUAGE.T" | translate }}</mat-label>
      <input matInput formControlName="preferredLanguageCtrl" />
      <mat-error
        *ngIf="basicDetailsForm.controls.preferredLanguageCtrl.invalid"
        >{{ "FORMS.LANGUAGE.REQUIRED" | translate }}</mat-error
      >
    </mat-form-field> -->
    </form>
    <div class="actions">
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="pathForm" label="Choose your path">
    <form [formGroup]="pathForm" class="path">
      <h2>Choose your path in software development</h2>
      <p
        >If you have already begun your journey and know which path you are on,
        you may select from the list below. Otherwise you can
        <a (click)="openPathQuiz()" class="quiz-link">take a quiz</a> to find
        the right path for you.</p
      >
      <p
        >Selecting a path with help us make better recommendations for you and
        other users. This can be changed at any time.</p
      >

      <mat-form-field appearance="outline" class="full-width-grid-item">
        <mat-label>{{ "FORMS.PATH" | translate }}</mat-label>

        <mat-select #path formControlName="pathCtrl">
          <mat-option *ngFor="let path of paths" [value]="path">
            <div class="type-option"> {{ path | translate }} </div>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="pathForm.controls.pathCtrl.invalid">{{
          "FORMS.REQUIRED.PATH" | translate
        }}</mat-error>
      </mat-form-field>
    </form>
    <div class="actions">
      <button mat-button matStepperPrevious>Back</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!pathForm.value.pathCtrl"
        matStepperNext
        >Next</button
      >
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <h3>You're all set!</h3>
    <p
      >Click below to take a tour of roadmapr or skip to figure things out for
      yourself</p
    >
    <div class="actions">
      <button mat-raised-button>Skip</button>
      <button mat-raised-button color="primary">Take Tour</button>
    </div>
  </mat-step>
</mat-stepper>
