@import "src/styles/app-vars.scss";

.email-update-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: end;
  gap: 1rem;
  align-items: center;

  @media screen and (min-width: $breakpoint-tablet-large) {
    grid-template-columns: 1fr 20%;
  }

  .mat-form-field {
    display: block;
  }

  .actions {
    display: flex;
    column-gap: 0.5rem;
    justify-content: end;
    align-items: center;
  }

  .update-details-button {
    margin-bottom: 1.34375em;
    padding: 0 3rem;
    justify-self: center;
  }
}
