mat-card-title {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  position: relative;
  z-index: 1000;

  .roadmap-title-icon {
    font-size: 1.3rem;
    margin-bottom: 0.1rem;
  }
}

mat-card-content {
  .grid {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0.5rem;
    position: relative;
    align-items: center;

    .card-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
    }

    .chart-container {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;

      .chart {
        position: relative;
        display: grid;
        justify-items: center;
        justify-content: center;

        .percentage {
          position: absolute;
          top: calc(50% - 1.1rem);
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
  }

  #chart {
    position: relative;
    margin: -1rem 0;
  }
}
