<div class="filter-container">
  <div class="filters">
    <div *ngIf="typeConfig">
      <span class="filter-type">Type</span>
      <mat-button-toggle-group
        name="type"
        aria-label="Type"
        [value]="selectedType"
      >
        <mat-button-toggle
          *ngFor="let type of typeConfig"
          (click)="filterType(type.name)"
          [value]="type.name"
        >
          <img
            src="/assets/images/icons/{{ type.name }}.png"
            class="app-roadmap-type-icon"
          />
          {{ type.title }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div *ngIf="languageConfig">
      <span class="filter-type">Language</span>
      <mat-button-toggle-group
        name="language"
        aria-label="Language"
        [value]="selectedLanguage"
      >
        <mat-button-toggle
          *ngFor="let language of languageConfig"
          #tooltip="matTooltip"
          matTooltipShowDelay="500"
          matTooltip="{{ language.title }}"
          matTooltipPosition="below"
          (click)="filterLanguage(language.name)"
          [value]="language.name"
        >
          <img
            class="app-stack-icon"
            src="/assets/images/stack/{{ language.name }}-original.svg"
            alt="Stack Icon"
          />
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div>
      <span class="filter-type">View</span>
      <mat-button-toggle-group
        name="view"
        aria-label="View"
        class="toggle-view"
        [value]="selectedView"
      >
        <mat-button-toggle
          #tooltip="matTooltip"
          matTooltipShowDelay="500"
          matTooltip="Compact View"
          matTooltipPosition="below"
          (click)="onUpdateView.emit('compact')"
          value="compact"
        >
          <span class="material-symbols-outlined">
            table_rows_narrow
          </span></mat-button-toggle
        >
        <mat-button-toggle
          #tooltip="matTooltip"
          matTooltipShowDelay="500"
          matTooltip="Expanded View"
          matTooltipPosition="below"
          (click)="onUpdateView.emit('expanded')"
          value="expanded"
        >
          <span class="material-symbols-outlined"> table_rows </span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="addItem()">Add</button>
</div>
