<div class="filter-container">
  <div class="filters">
    <span>
      Type
      <mat-button-toggle-group
        name="type"
        aria-label="Type"
        [value]="selectedType"
      >
        <mat-button-toggle value="all" (click)="filterRoadmap.emit(null)">
          All</mat-button-toggle
        >
        <mat-button-toggle
          *ngFor="let filter of filters"
          (click)="filterRoadmap.emit(filter.type)"
          [value]="filter.type"
        >
          <img
            src="/assets/images/roadmap/{{ filter.type }}.png"
            class="app-roadmap-type-icon"
          />
          {{ filter.title }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </span>

    <span>
      View
      <mat-button-toggle-group
        name="view"
        aria-label="View"
        [value]="selectedView"
      >
        <mat-button-toggle
          #tooltip="matTooltip"
          matTooltipShowDelay="500"
          matTooltip="Compact View"
          matTooltipPosition="below"
          (click)="onUpdateView.emit('dense')"
          value="dense"
        >
          <span class="material-symbols-outlined">
            table_rows_narrow
          </span></mat-button-toggle
        >
        <mat-button-toggle
          #tooltip="matTooltip"
          matTooltipShowDelay="500"
          matTooltip="Sparse View"
          matTooltipPosition="below"
          (click)="onUpdateView.emit('sparse')"
          value="sparse"
        >
          <span class="material-symbols-outlined"> table_rows </span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </span>
  </div>

  <button mat-raised-button color="primary" (click)="addItem()">Add</button>
</div>
