<div class="filter-container">
  <div class="filters">
    <div class="filter">
      <span class="filter-type">Language</span>
      <mat-button-toggle-group
        name="language"
        aria-label="Language"
        [value]="selectedLanguage"
      >
        <mat-button-toggle
          *ngFor="let language of sortedStack"
          #tooltip="matTooltip"
          matTooltipShowDelay="500"
          matTooltip="{{ language.title }}"
          matTooltipPosition="below"
          (click)="filterLanguage($event, language.name)"
          [value]="language.name"
        >
          <img
            class="app-stack-icon"
            src="/assets/images/stack/{{ language.name }}-original.svg"
            alt="Stack Icon"
          />
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="filter">
      <span class="filter-type">Period</span>
      <mat-button-toggle-group
        name="period"
        aria-label="Period"
        [value]="selectedPeriod"
      >
        <mat-button-toggle
          *ngFor="let time of timeConfig"
          (click)="filterPeriod(time.name)"
          [value]="time.name"
        >
          {{ time.title }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="editRoadmap()">{{
    "ACTIONS.EDIT_ROADMAP" | translate
  }}</button>
</div>
