.filter-container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;

  .filters {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.9rem;

    .filter-type {
      font-weight: 500;
      margin-right: 0.5rem;
    }
  }
}
