.filter-container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;

  .filters {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    justify-content: flex-start;

    mat-chip-list {
      mat-chip {
        cursor: pointer;
      }
    }
  }
}
