<div class="dashboard">
  <app-dashboard-filters
    *ngIf="stackList?.length"
    [languageConfig]="stackList"
  ></app-dashboard-filters>

  <div class="scroll" cdkScrollable *ngIf="stackList?.length">
    <div class="user-overview-container">
      <app-icon-card
        [icon]="'school'"
        [title]="'Education'"
        [value]="12"
        [trend]="1"
      ></app-icon-card>

      <app-icon-card
        [icon]="'code'"
        [title]="'Projects'"
        [value]="6"
        [trend]="2"
      ></app-icon-card>

      <app-icon-card
        [icon]="'timer'"
        [title]="'Experience'"
        [value]="'3 years, 19 days'"
      ></app-icon-card>

      <app-icon-card
        [icon]="'timer'"
        [title]="'Professional Experience'"
        [value]="'1 years, 249 days'"
      ></app-icon-card>
    </div>

    <div class="grid-1fr-1fr">
      <app-dashboard-stack-radar
        class="stack-radar-container"
        *ngIf="radar"
        [data]="radar"
      ></app-dashboard-stack-radar>

      <app-dashboard-stack
        class="stack-container"
        *ngIf="stack"
        [data]="stack"
      ></app-dashboard-stack>
    </div>

    <app-dashboard-education-overview
      *ngIf="stack"
      [data]="stack"
    ></app-dashboard-education-overview>

    <app-dashboard-projects-overview
      [data]="stack"
    ></app-dashboard-projects-overview>

    <div class="grid-1fr-1fr">
      <app-dashboard-github
        class="github-container"
        *ngIf="github"
        [data]="github"
      ></app-dashboard-github>
    </div>
  </div>
</div>

<!--         
                <app-dashboard-skill-distribution
                  class="skills-distribution-container"
                  *ngIf="distribution"
                  [data]="distribution"
                ></app-dashboard-skill-distribution> -->
