.dashboard {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;

  .scroll {
    overflow: auto;
    padding: 1rem;

    .dashboard-content {
      display: grid;
      grid-template-columns: 2fr 7fr;
      gap: 1rem;

      .grid-section {
        display: grid;
        grid-template-columns: 1fr;
        align-content: start;
        gap: 1rem;

        .section-title {
          font-size: 1.2rem;
          font-weight: 500;
        }

        &-inner {
          display: grid;
          grid-template-columns: 3fr 2fr;
          gap: 1rem;
        }
      }

      .grid-1fr {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        align-content: start;
      }
    }
  }
}
