<h1>Dashboard</h1>

<mat-card class="roadmap-container" *ngIf="dashboard && dashboard.roadmap">
  <p>Books count: {{ dashboard.roadmap.books.length || 0 }}</p>
  <p>Courses count: {{ dashboard.roadmap.courses.length || 0 }}</p>
  <p>Degrees count: {{ dashboard.roadmap.degrees.length || 0 }}</p>
  <p>Tutorials count: {{ dashboard.roadmap.tutorials.length || 0 }}</p>
</mat-card>

<mat-card class="projects-container" *ngIf="dashboard && dashboard.projects">
  <p>Projects count: {{ dashboard.projects.length || 0 }}</p>
</mat-card>

<mat-card
  class="employment-container"
  *ngIf="dashboard && dashboard.employment"
>
  <p>Jobs count: {{ dashboard.employment.length || 0 }}</p>
</mat-card>
