.overview-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;

  .overview-section {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    padding: 1rem;
    align-items: center;

    .icon {
      padding-right: 1rem;
      border-right: 1px solid lightgrey;
    }
  }
}
