<div class="overview-container">
  <mat-card class="overview-section">
    <div class="icon"
      ><span class="material-symbols-outlined">school</span></div
    >
    <div class="content">
      <div class="content-title">Education</div>
      <div class="content-body">{{ data.totalCourses }}</div>
    </div>
  </mat-card>
  <mat-card class="overview-section">
    <div class="icon"><span class="material-symbols-outlined">code</span></div>
    <div class="content">
      <div class="content-title">Projects</div>
      <div class="content-body">{{ data.totalProjects }}</div>
    </div>
  </mat-card>
  <mat-card class="overview-section">
    <div class="icon"><span class="material-symbols-outlined">timer</span></div>
    <div class="content">
      <div class="content-title">Experience</div>
      <div class="content-body">{{ data.startDate }}</div>
    </div>
  </mat-card>
</div>
