.header {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
}

label {
  font-size: 14px;
  font-weight: 500;
}

mat-radio-group {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}

.recommended-title {
  font-weight: 500;
}

.actions {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  justify-content: end;
}
