@import "src/styles/app-vars.scss";

.content {
  .header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 1rem;

    @media screen and (min-width: $breakpoint-tablet) {
      gap: 1rem;
      align-items: center;
      display: none;
    }

    .mobile-options {
      display: block;

      @media screen and (min-width: $breakpoint-tablet) {
        display: none;
      }
    }

    .desktop-options {
      display: none;

      @media screen and (min-width: $breakpoint-tablet) {
        display: block;
      }
    }

    .role {
      margin: 0;
      font-size: 1.1rem;

      @media screen and (min-width: $breakpoint-tablet) {
        font-size: 1.2rem;
      }
    }

    .header-section {
      display: grid;
      grid-template-columns: auto;
      align-items: center;

      @media screen and (min-width: $breakpoint-tablet) {
        grid-template-columns: auto auto;
        justify-content: flex-end;
      }
    }
  }

  .body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media screen and (min-width: $breakpoint-tablet-large) {
      grid-template-columns: auto 2fr;
      column-gap: 2rem;
    }

    .column {
      display: grid;
      grid-template-columns: 1fr;
      align-content: flex-start;
      gap: 1rem;

      .column-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        @media screen and (min-width: $breakpoint-tablet-large) {
          grid-template-columns: 1fr;
        }
      }

      &.description-column {
        align-content: space-between;
      }
    }

    .row {
      .grid-item__title {
        font-weight: 500;
        padding-bottom: 0.2rem;
      }

      .item-value {
        color: rgba(255, 255, 255, 0.7);
      }
    }

    .education-stack {
      display: flex;
      flex-wrap: wrap;
      gap: 0.2rem;
    }

    .description-text {
      white-space: pre-line;
    }
  }

  .actions {
    grid-column: 1 /-1;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: end;
    gap: 1rem;
    margin-bottom: 0;
  }
}
