<div class="auth-container">
  <div class="auth-brand">
    <img
      class="menu-brand"
      [src]="
        theme === 'dark'
          ? '/assets/images/logo/logo-dark.png'
          : '/assets/images/logo/logo.png'
      "
      routerLink="/dashboard"
      alt="roadmapr Logo"
    />
  </div>

  <div class="oauth-options">
    <button mat-raised-button class="github" (click)="registerWithGithub()">
      <img
        class="github-icon"
        src="/assets/images/stack/github-original.svg"
        alt="Github Icon"
      />
      <span>{{ "AUTH.O_AUTH.GITHUB_REGISTRATION" | translate }}</span>
    </button>
  </div>

  <div class="divider">
    <span class="line"></span>
    <span>OR</span>
    <span class="line"></span>
  </div>

  <div class="form-group">
    <app-update-username
      #usernameUpdate
      [username]="username"
    ></app-update-username>

    <app-update-email #emailUpdate [email]="email"></app-update-email>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label for="password">{{ "FORMS.PASSWORD" | translate }}</mat-label>
        <input
          matInput
          type="password"
          [placeholder]="'FORMS.PLACEHOLDER.PASSWORD' | translate"
          name="password"
          required
        />
      </mat-form-field>
    </div>

    <div class="form-action">
      <button
        mat-raised-button
        color="primary"
        (click)="register()"
        [disabled]="!usernameUpdate.form.valid || !emailUpdate.form.valid"
        >{{ "AUTH.REGISTER.T" | translate }}</button
      >
    </div>

    <a href="/login">{{ "AUTH.REGISTER.ALREADY_REGISTERED" | translate }}</a>
  </div>
</div>
