.auth-container {
  height: 100%;
  padding: 0 10%;
  display: grid;
  text-align: center;
  align-content: center;

  .auth-brand {
    text-align: center;
    margin-bottom: 2rem;

    img {
      height: 3rem;
    }
  }

  .registration-options {
    margin-bottom: 2rem;

    .github-registration {
      background-color: white;
      color: black;

      img {
        height: 1.75rem;
        width: 1.75rem;
        margin-right: 0.25rem;
      }
    }
  }

  .mat-form-field {
    width: 100%;
  }

  .form-action {
    margin-top: 1rem;
    text-align: center;
  }
}
