@import "src/styles/app-vars.scss";

.roadmapr-update-header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  .icon {
    .material-symbols-outlined {
      padding-top: 0.3rem;
    }
  }

  .text {
    h1 {
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
}

.mat-dialog-content {
  padding: 0 12px;

  p {
    font-weight: 300;
  }

  @media screen and (min-width: $breakpoint-tablet-large) {
    padding: 0 12px 0 24px;
  }

  .desktop-container {
    display: none;
  }

  .mobile-container {
    display: block;
    overflow: auto;
  }

  @media screen and (min-width: $breakpoint-tablet-large) {
    .desktop-container {
      display: block;
    }
    .mobile-container {
      display: none;
    }
  }

  .form-scroll {
    height: 25rem;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;

    @media screen and (min-width: $breakpoint-tablet-large) {
      grid-template-columns: 1fr 1fr;
      margin-right: 1.5rem;
    }

    .grid-section {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr;

      .sub-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1rem;
      }
    }
  }
}

.actions {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  justify-content: flex-end;
}

.stack-card {
  box-sizing: border-box;
  border: 2px solid #7b7b7b;
  cursor: pointer;

  &:hover {
    border: 2px solid white;
  }

  &.selected {
    border: 2px solid #00bcd4;
  }

  mat-card-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;

    mat-card-title {
      font-size: 1rem;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
    }

    .tech-stack {
      text-align: end;
    }

    .custom-tech-stack {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: end;
      gap: 0.2rem;

      .custom-icon {
        border-radius: 50%;
        height: 1.2rem;
        width: 1.2rem;
        background-color: #7b7b7b;
      }
    }
  }

  .stack-description {
    user-select: none;
  }
}
