<h1 mat-dialog-title>Update your Roadmap</h1>
<div mat-dialog-content>
  <form [formGroup]="roadmapForm">
    <!-- <p>Find item by link</p>
    <div class="find-by-link-grid">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Link to Course</mat-label>
        <input matInput formControlName="link" />
      </mat-form-field>
      <div class="action">
        <button mat-raised-button color="primary" (click)="fetchDetails()"
          >Go</button
        >
      </div>
    </div>

    <div class="input-divider">OR</div> -->

    <div>
      <!-- <p>Enter details manually</p> -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Select Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of roadmapTypes" [value]="type">
            <div class="type-option">
              <img
                src="/assets/images/roadmap/{{ type }}.png"
                class="app-roadmap-type-icon"
              />
              {{ type | titlecase }}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-roadmap-update-book
        #book
        [data]="data"
        *ngIf="selectedType === 'book'"
      ></app-roadmap-update-book>
      <app-roadmap-update-course
        #course
        [data]="data"
        *ngIf="selectedType === 'course'"
      ></app-roadmap-update-course>
      <app-roadmap-update-degree
        #degree
        [data]="data"
        *ngIf="selectedType === 'degree'"
      ></app-roadmap-update-degree>
      <app-roadmap-update-tutorial
        #tutorial
        [data]="data"
        *ngIf="selectedType === 'tutorial'"
      ></app-roadmap-update-tutorial>
    </div>
  </form>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSaveClick()"
    cdkFocusInitial
    >Save</button
  >
</div>
