<mat-card
  (click)="openItemDetails()"
  (mouseenter)="showPin()"
  (mouseleave)="hidePin()"
>
  <mat-card-header>
    <mat-card-title>
      <span [innerHTML]="data.title"></span>
    </mat-card-title>

    <div
      class="project-stack"
      [ngClass]="{ 'pin-displayed': pinDisplayed || isPinned }"
    >
      <img
        *ngFor="let tech of sortedStack"
        class="app-stack-icon"
        matTooltip="{{ tech.title }}"
        src="/assets/images/stack/{{ tech.name }}-original.svg"
      />
    </div>
    <div
      class="pin-item"
      *ngIf="!isPinned && pinDisplayed"
      (click)="togglePin($event)"
      ><span class="material-symbols-outlined pin pin-angle">
        push_pin
      </span></div
    >

    <div class="pin-item" *ngIf="isPinned" (click)="togglePin($event)"
      ><span
        class="material-symbols-outlined material-symbols-outlined__filled pin"
      >
        push_pin
      </span></div
    >
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle [innerHTML]="data.tagLine"> </mat-card-subtitle>

    <div class="content" *ngIf="selectedView === 'expanded'">
      <div class="timeline" *ngIf="data.startDate">
        <div class="timeline_title">{{
          "FORMS.DATES.TIMELINE" | translate
        }}</div>
        <p class="timeline_text item-value"
          >{{ data.startDate | date }} -
          {{ (data.endDate | date) || ("FORMS.DATES.PRESENT" | translate) }}</p
        >
      </div>

      <div class="description" *ngIf="data.description">
        <div class="description_title">{{
          "FORMS.DESCRIPTION" | translate
        }}</div>
        <p
          class="description-text item-value"
          [innerHTML]="data.description"
        ></p>
      </div>

      <p class="actions">
        <a href="data.link" *ngIf="data.link">
          <button mat-raised-button color="primary" type="button">{{
            "FORMS.PROJECT_LINK" | translate
          }}</button>
        </a>

        <a *ngIf="data.github" target="_blank" href="{{ data.github }}">
          <button mat-raised-button class="github-button">
            <img
              class="github-icon"
              src="/assets/images/stack/github-original.svg"
              alt="Github Icon"
            />
            <span class="github-button__text">{{
              "FORMS.GITHUB" | translate
            }}</span></button
          >
        </a>
      </p>
    </div>
  </mat-card-content>
</mat-card>
