<form class="form-grid" [formGroup]="updatePasswordForm">
  <mat-form-field appearance="outline">
    <mat-label>{{ "FORMS.NEW_PASSWORD" | translate }}</mat-label>
    <input
      #newPassword
      matInput
      [type]="hidePasswords ? 'password' : 'text'"
      formControlName="newPasswordCtrl"
    />
    <mat-icon
      matSuffix
      class="hide-icon"
      (click)="hidePasswords = !hidePasswords"
      >{{ hidePasswords ? "visibility_off" : "visibility" }}</mat-icon
    >
    <mat-hint>{{ "FORMS.HINT.NEW_PASSWORD" | translate }}</mat-hint>
    <mat-error
      *ngIf="updatePasswordForm.controls.newPasswordCtrl.hasError('required')"
      >{{ "FORMS.REQUIRED.NEW_PASSWORD" | translate }}</mat-error
    >
    <mat-error
      *ngIf="updatePasswordForm.controls.newPasswordCtrl.hasError('pattern')"
      >{{ "FORMS.ERROR.NEW_PASSWORD" | translate }}</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ "FORMS.NEW_PASSWORD_CONFIRM" | translate }}</mat-label>
    <input
      #newPasswordConfirm
      matInput
      [type]="hidePasswords ? 'password' : 'text'"
      formControlName="newPasswordConfirmCtrl"
      (blur)="checkMatchOnBlur()"
    />
    <mat-icon
      matSuffix
      class="hide-icon"
      (click)="hidePasswords = !hidePasswords"
      >{{ hidePasswords ? "visibility_off" : "visibility" }}</mat-icon
    >
    <mat-error
      *ngIf="
        updatePasswordForm.controls.newPasswordConfirmCtrl.hasError('required')
      "
      >{{ "FORMS.REQUIRED.NEW_PASSWORD_CONFIRM" | translate }}</mat-error
    >
    <mat-error
      *ngIf="
        updatePasswordForm.controls.newPasswordConfirmCtrl.hasError(
          'mismatch'
        ) &&
        !updatePasswordForm.get('newPasswordConfirmCtrl')?.hasError('required')
      "
      >{{ "FORMS.ERROR.NEW_PASSWORD_CONFIRM" | translate }}</mat-error
    >
  </mat-form-field>

  <div mat-dialog-actions class="actions">
    <button
      mat-raised-button
      color="primary"
      [disabled]="
        updatePasswordForm.get('newPasswordCtrl')?.hasError('required') ||
        updatePasswordForm
          .get('newPasswordConfirmCtrl')
          ?.hasError('required') ||
        updatePasswordForm.hasError('mismatch')
      "
      (click)="onSaveClick()"
      >{{ "ACTIONS.SAVE" | translate }}</button
    >
    <button mat-raised-button color="default" (click)="onHideEditor.emit()">{{
      "ACTIONS.CANCEL" | translate
    }}</button>
  </div>
</form>
