<form [formGroup]="tutorialForm">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input #title matInput formControlName="title" />
    <mat-error *ngIf="tutorialForm.controls.title.invalid"
      >Title required</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Instructor</mat-label>
    <input #instructor matInput formControlName="instructor" />
    <mat-error *ngIf="tutorialForm.controls.instructor.invalid"
      >Instructor required</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Start date</mat-label>
    <input
      #startDateInput
      matInput
      [matDatepicker]="startDate"
      formControlName="startDate"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-error *ngIf="tutorialForm.controls.startDate.invalid"
      >Start date required</mat-error
    >
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>End date</mat-label>
    <input matInput [matDatepicker]="endDate" formControlName="endDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width-grid-item">
    <mat-label>Description</mat-label>
    <textarea #description matInput formControlName="description"></textarea>
    <mat-error *ngIf="tutorialForm.controls.description.invalid"
      >Description required</mat-error
    >
  </mat-form-field>

  <app-stack-selector #stack class="full-width-grid-item"> </app-stack-selector>

  <mat-form-field appearance="fill" class="full-width-grid-item">
    <mat-label>Topics</mat-label>
    <input #topics matInput formControlName="topics" />
    <mat-error *ngIf="tutorialForm.controls.topics.invalid"
      >At least one topic is required</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width-grid-item">
    <mat-label>Provider</mat-label>
    <input #provider matInput formControlName="provider" />
    <mat-error *ngIf="tutorialForm.controls.provider.invalid"
      >Provider required</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Github</mat-label>
    <input #github matInput formControlName="github" />
    <mat-error *ngIf="tutorialForm.controls.github.invalid"
      >Github required</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Link</mat-label>
    <input #link matInput formControlName="link" />
    <mat-error *ngIf="tutorialForm.controls.link.invalid"
      >Link is required to verify course</mat-error
    >
  </mat-form-field>
</form>
