<app-loading *ngIf="!experience"></app-loading>

<div class="experience drag-container" *ngIf="experience">
  <div class="drag-container-header">
    <app-drop-list-filters
      *ngIf="experience"
      [type]="'EXPERIENCE.T'"
      [parentId]="experience._id"
      [selectedView]="selectedView"
      [typeConfig]="typeConfig"
      [languageConfig]="languageFilterData"
      (onFilterLanguage)="filterByLanguage($event)"
      (onFilterType)="filterByType($event)"
      (onUpdateView)="updateView($event)"
      (onUpdate)="createExperienceItem($event)"
    >
    </app-drop-list-filters>
  </div>

  <ng-scrollbar class="main-container">
    <div scrollViewport cdkScrollable>
      <div class="scroll">
        <div cdkDropListGroup class="drag-container-groups">
          <div class="drag-group">
            <h2 class="drag-group-title">{{
              "GENERAL.STATUS.OPPORTUNITIES" | translate
            }}</h2>
            <div class="drag-group-items" id="opportunities">
              <div *ngFor="let data of opportunities" class="drag-group-item">
                <app-experience-recommendation
                  *ngIf="matchesFilters(data)"
                  [data]="data"
                >
                </app-experience-recommendation>
              </div>

              <mat-card
                *ngIf="opportunities?.length"
                class="see-more-card"
                (click)="toggleShowAllOpportunities()"
                >{{
                  displayAllOpportunities
                    ? ("ACTIONS.SHOW_LESS" | translate)
                    : ("ACTIONS.SHOW_MORE" | translate)
                }}
              </mat-card>

              <app-drop-list-empty
                *ngIf="!opportunities"
                [header]="'EXPERIENCE.EMPTY_LIST.OPPORTUNITIES_LOADING_HEADER'"
                [message]="
                  'EXPERIENCE.EMPTY_LIST.OPPORTUNITIES_LOADING_MESSAGE'
                "
                [showLoader]="true"
              ></app-drop-list-empty>

              <app-drop-list-empty
                *ngIf="opportunities && !opportunities.length"
                [header]="'EXPERIENCE.EMPTY_LIST.OPPORTUNITIES_HEADER'"
                [message]="'EXPERIENCE.EMPTY_LIST.OPPORTUNITIES_MESSAGE'"
              ></app-drop-list-empty>
            </div>
          </div>

          <div class="drag-group">
            <h2 class="drag-group-title">{{
              "GENERAL.STATUS.IN_PROGRESS" | translate
            }}</h2>
            <div
              cdkDropList
              #inProgressList="cdkDropList"
              [cdkDropListData]="inProgress"
              class="drag-group-items"
              id="inProgress"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                *ngFor="let data of inProgress"
                class="drag-group-item"
                cdkDrag
              >
                <app-experience-item
                  *ngIf="matchesFilters(data)"
                  [data]="data"
                  [selectedView]="selectedView"
                  (pinItem)="onPinToggle($event, inProgress)"
                >
                </app-experience-item>
              </div>

              <app-drop-list-empty
                *ngIf="experience && inProgress && !inProgress.length"
                [header]="'EXPERIENCE.EMPTY_LIST.IN_PROGRESS_HEADER'"
                [message]="'EXPERIENCE.EMPTY_LIST.IN_PROGRESS_MESSAGE'"
              ></app-drop-list-empty>
            </div>
          </div>

          <div class="drag-group">
            <h2 class="drag-group-title">{{
              "GENERAL.STATUS.DONE" | translate
            }}</h2>
            <div
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="done"
              class="drag-group-items"
              id="done"
              (cdkDropListDropped)="drop($event)"
            >
              <div *ngFor="let data of done" class="drag-group-item" cdkDrag>
                <app-experience-item
                  *ngIf="matchesFilters(data)"
                  [data]="data"
                  [selectedView]="selectedView"
                  (pinItem)="onPinToggle($event, done)"
                >
                </app-experience-item>
              </div>

              <app-drop-list-empty
                *ngIf="experience && done && !done.length"
                [header]="'EXPERIENCE.EMPTY_LIST.DONE_HEADER'"
                [message]="'EXPERIENCE.EMPTY_LIST.DONE_MESSAGE'"
              ></app-drop-list-empty>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-scrollbar>

  <ng-scrollbar class="mobile-container">
    <div scrollViewport cdkScrollable>
      <div class="scroll">
        <div class="drag-container-groups">
          <mat-tab-group #tabGroup animationDuration="0ms" [selectedIndex]="1">
            <mat-tab>
              <ng-template mat-tab-label>
                {{ "GENERAL.STATUS.OPPORTUNITIES" | translate }}
              </ng-template>
              <div class="drag-group">
                <div class="drag-group-items" id="opportunities">
                  <div
                    *ngFor="let data of opportunities"
                    class="drag-group-item"
                  >
                    <app-experience-recommendation
                      *ngIf="matchesFilters(data)"
                      [data]="data"
                    >
                    </app-experience-recommendation>
                  </div>

                  <mat-card
                    *ngIf="opportunities?.length"
                    class="see-more-card"
                    (click)="toggleShowAllOpportunities()"
                    >{{
                      displayAllOpportunities
                        ? ("ACTIONS.SHOW_LESS" | translate)
                        : ("ACTIONS.SHOW_MORE" | translate)
                    }}
                  </mat-card>

                  <app-drop-list-empty
                    *ngIf="!opportunities"
                    [header]="
                      'EXPERIENCE.EMPTY_LIST.OPPORTUNITIES_LOADING_HEADER'
                    "
                    [message]="
                      'EXPERIENCE.EMPTY_LIST.OPPORTUNITIES_LOADING_MESSAGE'
                    "
                    [showLoader]="true"
                  ></app-drop-list-empty>

                  <app-drop-list-empty
                    *ngIf="opportunities && !opportunities.length"
                    [header]="'EXPERIENCE.EMPTY_LIST.OPPORTUNITIES_HEADER'"
                    [message]="'EXPERIENCE.EMPTY_LIST.OPPORTUNITIES_MESSAGE'"
                  ></app-drop-list-empty>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                {{ "GENERAL.STATUS.IN_PROGRESS" | translate }}
              </ng-template>
              <div class="drag-group">
                <div
                  cdkDropList
                  #inProgressList="cdkDropList"
                  [cdkDropListData]="inProgress"
                  class="drag-group-items"
                  id="inProgress"
                  (cdkDropListDropped)="drop($event)"
                >
                  <div *ngFor="let data of inProgress" class="drag-group-item">
                    <app-experience-item
                      *ngIf="matchesFilters(data)"
                      [data]="data"
                      [selectedView]="selectedView"
                      (pinItem)="onPinToggle($event, inProgress)"
                    >
                    </app-experience-item>
                  </div>

                  <app-drop-list-empty
                    *ngIf="experience && inProgress && !inProgress.length"
                    [header]="'EXPERIENCE.EMPTY_LIST.IN_PROGRESS_HEADER'"
                    [message]="'EXPERIENCE.EMPTY_LIST.IN_PROGRESS_MESSAGE'"
                  ></app-drop-list-empty>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                {{ "GENERAL.STATUS.DONE" | translate }}
              </ng-template>
              <div class="drag-group">
                <div
                  cdkDropList
                  #doneList="cdkDropList"
                  [cdkDropListData]="done"
                  class="drag-group-items"
                  id="done"
                  (cdkDropListDropped)="drop($event)"
                >
                  <div *ngFor="let data of done" class="drag-group-item">
                    <app-experience-item
                      *ngIf="matchesFilters(data)"
                      [data]="data"
                      [selectedView]="selectedView"
                      (pinItem)="onPinToggle($event, done)"
                    >
                    </app-experience-item>
                  </div>

                  <app-drop-list-empty
                    *ngIf="experience && done && !done.length"
                    [header]="'EXPERIENCE.EMPTY_LIST.DONE_HEADER'"
                    [message]="'EXPERIENCE.EMPTY_LIST.DONE_MESSAGE'"
                  ></app-drop-list-empty>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </ng-scrollbar>
</div>
