<div class="content">
  <div class="header">
    <div class="role">
      <img
        src="/assets/images/icons/{{ data.type }}.png"
        class="app-education-type-icon__large"
      />
      <h2>{{ data.role }}</h2>
    </div>

    <div class="actions">
      <button mat-button [matMenuTriggerFor]="menu"
        ><span class="material-symbols-outlined">more_horiz</span></button
      >

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editItem()">{{
          "ACTIONS.EDIT" | translate
        }}</button>
        <button mat-menu-item (click)="deleteItem()">{{
          "ACTIONS.DELETE" | translate
        }}</button>
      </mat-menu>
    </div>
  </div>

  <div class="body">
    <div class="column">
      <div class="row">
        <div class="grid-item__title">{{ "FORMS.COMPANY" | translate }}</div>
        <p>{{ data.company }}</p>
      </div>

      <div class="row">
        <div class="grid-item__title">{{
          "FORMS.DATES.TIMELINE" | translate
        }}</div>
        <p>
          {{ data.startDate | date }} -
          {{ (data.endDate | date) || ("FORMS.DATES.PRESENT" | translate) }}
        </p>
      </div>

      <div class="row">
        <div class="grid-item__title">{{ "FORMS.STACK" | translate }}</div>
        <div class="education-stack">
          <img
            *ngFor="let tech of data.stack"
            class="app-stack-icon__large"
            matTooltip="{{ tech.title }}"
            src="/assets/images/stack/{{ tech.name }}-original.svg"
          />
        </div>
      </div>
    </div>

    <div class="column description-column">
      <div class="row">
        <div class="grid-item__title">{{
          "FORMS.DESCRIPTION" | translate
        }}</div>
        <p class="description-text">{{ data.description }}</p>
      </div>

      <div class="body-actions">
        <a *ngIf="data.github" target="_blank" href="{{ data.github }}">
          <button mat-raised-button color="black">{{
            "FORMS.GITHUB" | translate
          }}</button>
        </a>
        <a *ngIf="data.project" target="_blank" href="{{ data.project }}">
          <button mat-raised-button color="secondary">{{
            "FORMS.PROJECT_LINK" | translate
          }}</button>
        </a>
        <a
          *ngIf="data.companyLink"
          target="_blank"
          href="{{ data.companyLink }}"
        >
          <button mat-raised-button cdkFocusInitial color="primary">{{
            "FORMS.COMPANY" | translate
          }}</button>
        </a>
        <a>
          <button mat-raised-button color="default" (click)="onCancel()">{{
            "ACTIONS.CLOSE" | translate
          }}</button>
        </a>
      </div>
    </div>
  </div>
</div>
