.header {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 1rem;
  gap: 1rem;

  .role {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    align-items: center;

    h2 {
      margin: 0;
    }
  }

  .actions {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
  }
}

.body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;

  .column {
    display: grid;
    grid-template-columns: 1fr;
    align-content: flex-start;
    gap: 1rem;

    &.description-column {
      align-content: space-between;
    }
  }

  .row {
    .grid-item__title {
      font-weight: 500;
      padding-bottom: 0.2rem;
    }
  }

  .roadmap-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  .description-text {
    white-space: pre-line;
  }

  .body-actions {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
    gap: 1rem;
  }
}
