<div class="project">
  <div class="project-header">
    <div class="project-title"> {{ project.title }} </div>

    <div class="tech-stack">
      <img
        *ngFor="let tech of project.stack"
        class="app-stack-icon"
        matTooltip="{{ tech.title }}"
        src="/assets/images/stack/{{ tech.name }}-original.svg"
      />
    </div>
  </div>

  <p class="project-subtitle"
    >{{ project.tagLine }} ({{ project.startDate | date }} -
    {{ (project.endDate | date) || ("FORMS.DATES.PRESENT" | translate) }})
  </p>

  <p class="project-description">{{ project.description }}</p>
</div>
