<mat-card class="personal">
  <section>
    <h3 class="section-header">{{ "PROFILE.HEADERS.PERSONAL" | translate }}</h3>
    <div class="label">{{ "PROFILE.SUB_HEADERS.LOCATION" | translate }}</div>
    <p class="value">{{ user.location.name | translate }}</p>

    <div class="label">{{ "PROFILE.SUB_HEADERS.NATIONALITY" | translate }}</div>
    <p class="value">{{ user.nationality.name | translate }}</p>

    <div class="label">{{ "PROFILE.SUB_HEADERS.LANGUAGES" | translate }}</div>
    <div class="value">
      <span
        class="language-item"
        *ngFor="let item of user.languagesSpoken; let last = last"
        >{{ item.language?.name | translate }} ({{
          item.level?.name | translate
        }})
      </span>

      <div class="empty-section-message" *ngIf="!user.languagesSpoken.length">
        {{ "PROFILE.EMPTY_SECTIONS.LANGUAGES" | translate }}
      </div>
    </div>
  </section>

  <section>
    <div class="section-header">{{ "PROFILE.HEADERS.SOCIAL" | translate }}</div>
    <div class="card-grid">
      <div class="contact-link email-link" *ngIf="user.email">
        <a href="{{ user.email }}" target="_blank"> Email </a>
      </div>
      <div class="contact-link cv-link" *ngIf="user.links.cv">
        <a href="{{ user.links.cv }}" target="_blank"> CV </a>
      </div>
      <div class="contact-link portfolio-link" *ngIf="user.links.portfolio">
        <a href="{{ user.links.portfolio }}" target="_blank"> Portfolio </a>
      </div>
      <div
        class="social-link github-link"
        *ngIf="user.github && user.github.username"
      >
        <a href="https://github.com/{{ user.github.username }}" target="_blank">
          <img
            class="social-image"
            src="/assets/images/stack/github-alternate.svg"
            alt="Github Icon"
          />
        </a>
      </div>
      <div class="social-link linkedIn-link" *ngIf="user.links.linkedIn">
        <a href="{{ user.links.linkedIn }}" target="_blank">
          <img
            class="social-image"
            src="/assets/images/icons/linkedin.png"
            alt="linkedIn Icon"
          />
        </a>
      </div>
      <div class="social-link x-link" *ngIf="user.links.x">
        <a [href]="user.links.x" target="_blank">
          <img
            class="social-image"
            src="/assets/images/icons/x.svg"
            alt="x Icon"
          />
        </a>
      </div>
    </div>
  </section>

  <section>
    <div class="section-header">{{
      "PROFILE.HEADERS.PREVIOUS_EDUCATION" | translate
    }}</div>
    <div
      class="value education-items"
      *ngFor="let item of user.previousEducation"
    >
      <div class="education-item">
        <span class="subject"
          >{{ item.level?.name | translate }} in {{ item.subject }}</span
        >
        <span class="school">{{ item.school }}</span>
      </div>
    </div>

    <div class="empty-section-message" *ngIf="!user.previousEducation.length">
      {{ "PROFILE.EMPTY_SECTIONS.PREVIOUS_EDUCATION" | translate }}
    </div>
  </section>

  <section>
    <h3 class="section-header">{{
      "PROFILE.HEADERS.INTERESTS" | translate
    }}</h3>

    <ng-container *ngIf="user.interests.professionalInterests.length">
      <div class="label">{{
        "PROFILE.SUB_HEADERS.PROFESSIONAL" | translate
      }}</div>
      <div class="value">
        {{ user.interests.professionalInterests.join(", ") }}
      </div>
    </ng-container>

    <ng-container *ngIf="user.interests.personalInterests.length">
      <div class="label">{{ "PROFILE.SUB_HEADERS.PERSONAL" | translate }}</div>
      <p class="value">
        {{ user.interests.personalInterests.join(", ") }}
      </p>
    </ng-container>

    <div
      class="empty-section-message"
      *ngIf="
        !user.interests.personalInterests.length &&
        !user.interests.professionalInterests.length
      "
    >
      {{ "PROFILE.EMPTY_SECTIONS.INTERESTS" | translate }}
    </div>
  </section>
</mat-card>
