<div class="image-cropper-modal">
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="aspectRatio"
    [resizeToWidth]="resizeToWidth"
    [cropperMinWidth]="128"
    [roundCropper]="roundCropped"
    (imageCropped)="imageCropped($event)"
  ></image-cropper>

  <div class="actions">
    <button mat-button color="default" (click)="dialogRef.close(false)"
      >Cancel</button
    >
    <button
      mat-raised-button
      color="primary"
      (click)="dialogRef.close(croppedImage)"
      >Save</button
    >
  </div>
</div>
