mat-card {
  padding: 1rem 0;

  mat-card-header {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;

    .mat-card-title {
      font-size: 1rem;
    }

    mat-card-subtitle {
      font-size: 1rem;
      margin-bottom: 0;
    }

    .tech-stack {
      text-align: end;
      padding-right: 1rem;
    }
  }

  mat-card-content {
    padding: 0 1rem;
  }
}
