<div class="content">
  <div class="header">
    <img
      src="/assets/images/roadmap/{{ data.type }}.png"
      class="app-roadmap-type-icon__large"
    />
    <h2>{{ data.title }}</h2>

    <div class="actions">
      <button mat-button [matMenuTriggerFor]="menu"
        ><mat-icon>more_horiz</mat-icon></button
      >

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editItem()">Edit {{ data.type }}</button>
        <button mat-menu-item (click)="deleteItem()"
          >Delete {{ data.type }}</button
        >
      </mat-menu>
    </div>
  </div>
  <div class="body">
    <div class="grid-column">
      <div class="grid-row">
        <p>
          <span>{{ data.startDate | date }}</span>
          <span *ngIf="data.startDate && data.endDate"> - </span>
          <span>{{ data.endDate | date }}</span>
        </p>
      </div>

      <div class="grid-row">
        <div class="grid-item__title">Description</div>
        <p>{{ data.description }}</p>
      </div>

      <div class="grid-row">
        <div class="grid-item__title">Author</div>
        <p>{{ data.author || data.instructor }}</p>
      </div>

      <div class="grid-column">
        <div class="grid-item__title">Stack</div>
        <div class="skills-grid">
          <div class="skill-item" *ngFor="let item of data.stack">
            <img
              class="stack-image"
              src="/assets/images/stack/{{ item.name }}-original.svg"
            />
            <span class="stack-title">{{ item.title }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <a target="_blank" href="{{ data.link }}">
        <button mat-raised-button color="primary">See {{ data.type }}</button>
      </a>
      <button mat-raised-button color="default" (click)="onCancel()"
        >Close</button
      >
    </div>
  </div>
</div>
