@import "src/styles/app-vars.scss";

form {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: $breakpoint-tablet-large) {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  .image-upload-card {
    margin: 0 auto 2rem;
    position: relative;
    width: 18rem;
    padding-bottom: 1rem;

    @media screen and (min-width: $breakpoint-tablet-large) {
      width: 26rem;
    }

    .profile-image-upload {
      position: absolute;
      bottom: -2rem;
      left: calc(50% - 2.5rem);
    }
  }

  .form-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;

    &__inner {
      display: grid;
      grid-template-columns: 1fr;

      @media screen and (min-width: $breakpoint-tablet-large) {
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
      }
    }
  }
}
