<h1 mat-dialog-title>Update Employment</h1>
<div mat-dialog-content>
  <form [formGroup]="employmentForm">
    <mat-form-field appearance="outline" class="full-width-grid-item">
      <mat-label>Select Type</mat-label>
      <mat-select #type formControlName="type">
        <mat-option value="employment">
          <img
            src="/assets/images/icons/employment.png"
            class="app-roadmap-type-icon"
          />
          Employment
        </mat-option>
        <mat-option value="freelance">
          <img
            src="/assets/images/icons/freelance.png"
            class="app-roadmap-type-icon"
          />
          Freelance
        </mat-option>
      </mat-select>
      <mat-error *ngIf="employmentForm.controls.type.invalid"
        >Type required</mat-error
      >
    </mat-form-field>

    <ng-container *ngIf="employmentForm.controls.type.value">
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <input cdkFocusInitial #role matInput formControlName="role" />
        <mat-error *ngIf="employmentForm.controls.role.invalid"
          >Role required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>company</mat-label>
        <input #company matInput formControlName="company" />
        <mat-error *ngIf="employmentForm.controls.company.invalid"
          >Company required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Start date</mat-label>
        <input
          matInput
          [matDatepicker]="startDate"
          formControlName="startDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="startDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>End date</mat-label>
        <input matInput [matDatepicker]="endDate" formControlName="endDate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="endDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-grid-item">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <app-stack-selector
        #stack
        [data]="data && data.stack"
        class="full-width-grid-item"
      >
      </app-stack-selector>

      <mat-form-field
        appearance="outline"
        *ngIf="employmentForm.controls.type.value === 'freelance'"
      >
        <mat-label>Github Link</mat-label>
        <input matInput formControlName="github" />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        *ngIf="employmentForm.controls.type.value === 'freelance'"
      >
        <mat-label>Project Live Link</mat-label>
        <input matInput formControlName="project" />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        *ngIf="employmentForm.controls.type.value === 'employment'"
      >
        <mat-label>Link to Company</mat-label>
        <input matInput formControlName="companyLink" />
      </mat-form-field>
    </ng-container>
  </form>
  <div mat-dialog-actions class="actions">
    <button
      *ngIf="employmentForm.controls.type.value"
      mat-raised-button
      color="primary"
      (click)="onSaveClick()"
      cdkFocusInitial
      >Save</button
    >
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
  </div>
</div>
