<div class="auth-container">
  <div class="auth-brand">
    <img
      class="menu-brand"
      src="/assets/images/logo/logo-dark.png"
      alt="roadmapr Logo"
    />
  </div>

  <form
    [formGroup]="form"
    [ngClass]="{ hide: sendResetPasswordEmailSuccessful }"
  >
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label for="email">{{ "FORMS.EMAIL" | translate }}</mat-label>
        <input
          matInput
          type="email"
          [placeholder]="'FORMS.PLACEHOLDER.EMAIL' | translate"
          name="email"
          formControlName="emailCtrl"
          required
        />
        <mat-error *ngIf="form.controls.emailCtrl?.hasError('required')">{{
          "FORMS.REQUIRED.EMAIL" | translate
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-action">
      <button
        mat-raised-button
        color="primary"
        (click)="sendResetPasswordEmail()"
        [disabled]="!form.valid"
      >
        <span *ngIf="!sendResetPasswordEmailPending">{{
          "AUTH.RESET_PASSWORD.T" | translate
        }}</span>

        <span class="auth-spinner" *ngIf="sendResetPasswordEmailPending">
          <mat-spinner matSuffix [diameter]="27"></mat-spinner>
        </span>
      </button>
    </div>
  </form>

  <div
    class="email-verification-sent"
    [ngClass]="{ hide: !sendResetPasswordEmailSuccessful }"
  >
    <h2>{{ "AUTH.RESET_PASSWORD.VERIFY_EMAIL_HEADER" | translate }}</h2>
    <p
      >{{ "AUTH.REGISTER.VERIFY_EMAIL_MESSAGE_1" | translate }}
      <strong>{{ form.value.emailCtrl }}</strong>
    </p>

    <p>{{ "AUTH.REGISTER.VERIFY_EMAIL_MESSAGE_2" | translate }}</p>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!resendEmailReady"
      (click)="sendResetPasswordEmail()"
      >{{
        resendEmailReady
          ? ("AUTH.REGISTER.VERIFY_EMAIL_RESEND" | translate)
          : resendEmailTimeout
      }}</button
    >
  </div>

  <div>
    <a class="auth-type-switch" (click)="showLogin()">{{
      "AUTH.RESET_PASSWORD.BACK_TO_LOGIN" | translate
    }}</a>
  </div>
</div>
