@import "./app-vars.scss";

@mixin light-theme--mixin--main() {
  body {
    background: $light-theme--body--background;
    color: $light-theme--font--primary;

    .material-symbols-outlined {
      color: $light-theme--font--material-symbols;
    }
  }
}

@mixin light-theme--mixin--sidebar() {
  .sidebar {
    background-color: $light-theme--sidebar--background;
  }

  .sidebar-option {
    color: $light-theme--font--primary;

    &.is-active {
      color: $light-theme--font--tertiary;
      background-color: $light-theme--sidebar--background--active;

      .material-symbols-outlined {
        color: $light-theme--font--tertiary !important;
      }
    }
  }
}

@mixin light-theme--mixin--user-profile() {
  .user-profile {
    .profile {
      .profile-header {
        h1 {
          color: $light-theme--font--header;
        }
      }
      .profile-body {
        .section-header {
          color: $light-theme--font--sub-header;
        }
        .label {
          color: $light-theme--font--primary;
        }
        .value {
          color: $light-theme--font--secondary;
        }
        .bio {
          color: $light-theme--font--primary;
        }
        .social-link {
          a {
            color: $light-theme--font--link;
            &:hover {
              color: $light-theme--font--link--hover;
            }
          }
        }
      }
    }
  }
}

@mixin dark-theme--mixin--main() {
  body {
    background: $dark-theme--body--background;
    color: $dark-theme--font--primary;

    .material-symbols-outlined {
      color: $dark-theme--font--material-symbols;
    }
  }
}

@mixin dark-theme--mixin--sidebar() {
  .sidebar {
    background-color: $dark-theme--sidebar--background;
  }

  .sidebar-option {
    color: $dark-theme--font--primary;

    &.is-active {
      color: $dark-theme--font--tertiary;
      background-color: $dark-theme--sidebar--background--active;

      .material-symbols-outlined {
        color: $dark-theme--font--tertiary !important;
      }
    }
  }
}

@mixin dark-theme--mixin--user-profile() {
  .user-profile {
    .profile {
      .profile-header {
        h1 {
          color: $dark-theme--font--header;
        }
      }
      .profile-body {
        .section-header {
          color: $dark-theme--font--sub-header;
        }
        .label {
          color: $dark-theme--font--primary;
        }
        .value {
          color: $dark-theme--font--secondary;
        }
        .bio {
          color: $dark-theme--font--primary;
        }
        .social-link {
          a {
            color: $dark-theme--font--link;
            &:hover {
              color: $dark-theme--font--link--hover;
            }
          }
        }
      }
    }
  }
}
