@import "./app-vars.scss";

@mixin dark-theme--mixin--main() {
  body {
    background: $dark-theme--body--background;
    color: $dark-theme--font--primary;

    a {
      color: $dark-theme--font--primary;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $dark-theme--font--primary;
    }

    p {
      color: $dark-theme--font--secondary;
    }

    button,
    .mat-button-wrapper {
      color: white !important;
    }

    span {
      color: inherit;
    }

    .icon-card {
      border: 1px solid $dark-theme--icon-card--border;
    }

    .roadmap-title-icon {
      color: $dark-theme--font--primary;
    }

    .roadmap-icon {
      .material-symbols-outlined {
        background-color: $dark-theme--primary--mat-primary-color !important;
      }
    }

    .stack-card {
      border: 2px solid $dark-theme--icon-card--border;

      &:hover {
        border: 2px solid white;
      }

      &.selected {
        border: 2px solid $dark-theme--primary--mat-primary-color;
      }

      .custom-icon {
        background-color: $dark-theme--icon-card--border;
      }
    }

    .featured-repo {
      border: 1px solid $dark-theme--icon-card--border;
      border-top: 3px solid $dark-theme--primary--mat-primary-color;
    }

    mat-card {
      &.recommendation {
        border-top: 3px solid $dark-theme--primary--mat-primary-color;

        mat-chip {
          background-color: $dark-theme--primary--mat-primary-color !important;
          color: white !important;
        }
      }
    }

    .material-symbols-outlined {
      color: $dark-theme--font--material-symbols;

      &.alternate {
        color: $dark-theme--font--material-symbols--alternate;
      }

      &.emphasis {
        color: $dark-theme--font--tertiary !important;
      }

      &.error {
        color: $dark-theme--error--mat-error-color !important;
      }

      &.success {
        color: $dark-theme--primary--mat-primary-color !important;
      }
    }

    .drag-group {
      .no-item-message {
        background: $dark-theme--drag-group--background;
        color: $dark-theme--font--header;
      }
    }

    .delete-account-button:not(.mat-button-disabled) {
      background-color: $dark-theme--error--background;
      color: $dark-theme--error--font;
    }

    ng-scrollbar {
      --scrollbar-thumb-color: lightgrey !important;
    }

    .github-button,
    .provider-button {
      background: white !important;

      .github-icon {
        height: 1.4rem;
        margin-right: 0.5rem;
      }

      &__text {
        color: black;
      }
    }
  }
}

@mixin dark-theme--mixin--sidebar() {
  .sidebar,
  .mobile-nav {
    background-color: $dark-theme--sidebar--background;
  }

  .nav-collapse {
    background-color: $dark-theme--sidebar--background;
  }

  .sidebar-option {
    color: $dark-theme--font--primary;

    &.is-active {
      color: $dark-theme--font--tertiary;
      background-color: $dark-theme--sidebar--background--active;

      .material-symbols-outlined {
        color: $dark-theme--font--tertiary !important;
      }
    }

    .logo-svg {
      path {
        fill: white;
      }
    }
  }
}

@mixin dark-theme--mixin--auth() {
  .auth-container {
    .oauth-options {
      .mat-github {
        background-color: white;
        color: #171515;

        &.mat-button-disabled {
          background-color: #595959;
          color: #ffffff4d;
        }
      }
    }

    .divider {
      color: #c1c1c1;

      .line {
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
      }
    }

    .forgot-password-link {
      a {
        color: #c1c1c1;
      }
    }
  }
}

@mixin dark-theme--mixin--user-profile() {
  .user-profile {
    .profile {
      .profile-header {
        h1 {
          color: $dark-theme--font--header;
        }
      }
      .profile-body {
        .section-header {
          color: $dark-theme--font--sub-header;
        }
        .label {
          color: $dark-theme--font--primary;
        }
        .value {
          color: $dark-theme--font--secondary;
        }
        .bio {
          color: $dark-theme--font--primary;
        }
        .social-link {
          a {
            color: $dark-theme--font--link;
            &:hover {
              color: $dark-theme--font--link--hover;
            }
          }
        }
      }
    }
  }
}

@mixin light-theme--mixin--main() {
  body {
    background: $light-theme--body--background;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $light-theme--font--primary;
    }

    p {
      color: $light-theme--font--secondary;
    }

    button {
      .mat-button-wrapper {
        color: white !important;
      }

      &.mat-default {
        .mat-button-wrapper {
          color: $light-theme--font--primary !important;
        }
      }
    }

    span {
      color: inherit;
    }

    .mat-menu-item {
      color: $light-theme--font--secondary !important;
    }

    .icon-card {
      border: 1px solid $light-theme--icon-card--border;
    }

    .roadmap-icon {
      .material-symbols-outlined {
        background-color: $light-theme--primary--mat-primary-color !important;
      }
    }

    .stack-card {
      border: 1px solid $light-theme--icon-card--border;

      &:hover {
        border: 1px solid grey;
      }

      &.selected {
        border: 1px solid $light-theme--primary--mat-primary-color;
      }

      .custom-icon {
        background-color: $light-theme--icon-card--border;
      }
    }

    .featured-repo {
      border: 1px solid $light-theme--icon-card--border;
      border-top: 3px solid $light-theme--primary--mat-primary-color;
    }

    mat-card {
      &.recommendation {
        border-top: 3px solid $light-theme--primary--mat-primary-color;

        mat-chip {
          background-color: $light-theme--primary--mat-primary-color !important;
          color: white !important;
        }
      }
    }

    .material-symbols-outlined {
      color: $light-theme--font--material-symbols;

      &.emphasis {
        color: $light-theme--font--tertiary !important;
      }

      &.error {
        color: $light-theme--error--mat-error-color !important;
      }

      &.success {
        color: $light-theme--primary--mat-primary-color !important;
      }

      &.icon {
        color: white;
      }

      &.roadmap-title-icon {
        color: $light-theme--font--primary;
      }
    }

    .drag-group {
      .no-item-message {
        background: $light-theme--drag-group--background;
        color: $light-theme--font--header;
      }
    }

    ng-scrollbar {
      --scrollbar-thumb-color: grey !important;
    }

    .provider-button {
      background: white !important;

      &__text {
        color: black !important;
      }
    }
  }
}

@mixin light-theme--mixin--sidebar() {
  .sidebar {
    background-color: $light-theme--sidebar--background;
  }

  .nav-collapse {
    background-color: $light-theme--sidebar--background;
  }

  .sidebar-option {
    color: $light-theme--font--primary;

    .logo-svg {
      path {
        fill: $light-theme--font--primary;
      }
    }

    &.is-active {
      color: $light-theme--font--tertiary;
      background-color: $light-theme--sidebar--background--active;

      .material-symbols-outlined {
        color: $light-theme--font--tertiary !important;
      }

      .logo-svg {
        path {
          fill: $light-theme--font--tertiary !important;
        }
      }
    }
  }
}

@mixin light-theme--mixin--auth() {
  .auth-container {
    .oauth-options {
      .mat-github {
        background-color: #171515;
        color: white;

        &.mat-button-disabled {
          background-color: rgba(0, 0, 0, 0.12);
          color: rgba(0, 0, 0, 0.26);
        }
      }
    }

    .divider {
      color: $light-theme--font--sub-header;

      .line {
        border-bottom: 0.5px solid $light-theme--font--sub-header;
      }
    }
  }
}

@mixin light-theme--mixin--user-profile() {
  .user-profile {
    .profile {
      .profile-header {
        h1 {
          color: $light-theme--font--header;
        }
      }
      .profile-body {
        .section-header {
          color: $light-theme--font--sub-header;
        }
        .label {
          color: $light-theme--font--primary;
        }
        .value {
          color: $light-theme--font--secondary;
        }
        .bio {
          color: $light-theme--font--primary;
        }
        .social-link {
          a {
            color: $light-theme--font--link;
            &:hover {
              color: $light-theme--font--link--hover;
            }
          }
        }
      }
    }
  }
}
