* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: Mona Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
}

app-root {
  width: 100%;
  position: absolute;
}

.full-width {
  width: 100%;
}

.full-width-grid-item {
  grid-column: 1 / -1;
}

.app-education-type-icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.app-education-type-icon__large {
  height: 1.5rem;
  width: 1.5rem;
}

.app-stack-icon {
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0 0.2rem;
}

.app-stack-icon__large {
  height: 2rem;
  width: 2rem;
  margin: 0 0.5rem 0.5rem;
}

.provider-button {
  .provider-icon {
    height: 1rem;
  }

  &.coursera,
  &.freecodecamp {
    .provider-icon {
      height: 0.8rem;
    }
  }

  &.edx,
  &.udemy {
    .provider-icon {
      height: 1.2rem;
    }
  }

  &.pluralsight {
    .provider-icon {
      height: 1.4rem;
    }
  }

  &.khanacademy {
    .provider-icon {
      height: 2rem;
    }
  }
}

.material-symbols-outlined {
  font-display: block;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;

  &__filled {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 20;
  }

  &.hide-icon {
    cursor: pointer;
  }

  &.chip-remove {
    height: 18px !important;
    width: 18px !important;
    font-size: 18px !important;
  }
}

mat-button-toggle-group {
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 35px;
    padding: 0 10px;

    .app-education-type-icon {
      margin-right: 0.2rem;
    }

    .app-stack-icon {
      border-radius: 0%;
      margin: 0;
    }
  }
}

.mat-card {
  .image-upload-card {
    padding: 0 0 1rem !important;
  }
}

.mat-card-title {
  font-size: 18px;
  font-weight: 500;
}

.stack-card {
  .mat-card-header-text {
    margin: 0 !important;
  }
}

.compact-table {
  tr.mat-header-row {
    height: 30px;
  }

  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 0px !important;
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 0px !important;
  }
}

.mat-option,
mat-form-field {
  font-size: 14px !important;
}

.mat-tooltip {
  font-size: 12px !important;
}

.mat-step-label {
  min-width: 0 !important;
}

.mat-progress-bar,
.mat-progress-bar-fill {
  height: 0.5rem !important;
  border-radius: 4px;
}
