@import "./app-vars.scss";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 14px;

  @media screen and (min-width: $breakpoint-desktop) {
    overflow: hidden;
  }
}

body {
  font-family: Mona Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
}

app-root {
  width: 100%;
  position: absolute;
}

.full-width {
  width: 100%;
}

.full-width-grid-item {
  grid-column: 1 / -1;
}

.app-education-type-icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.app-education-type-icon__large {
  height: 1.5rem;
  width: 1.5rem;
}

.app-stack-icon {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  margin: 0 0.1rem;

  @media screen and (min-width: $breakpoint-tablet) {
    margin: 0 0.2rem;
    height: 1.2rem;
    width: 1.2rem;
  }
}

.app-stack-icon__large {
  height: 1rem;
  width: 1rem;
  margin: 0 0.2rem 0.2rem;

  @media screen and (min-width: $breakpoint-tablet-large) {
    height: 2rem;
    width: 2rem;
    margin: 0 0.5rem 0.5rem;
  }
}

.provider-button {
  .provider-icon {
    height: 1rem;
  }

  &.coursera,
  &.freecodecamp {
    .provider-icon {
      height: 0.8rem;
    }
  }

  &.edx,
  &.udemy {
    .provider-icon {
      height: 1.2rem;
    }
  }

  &.pluralsight {
    .provider-icon {
      height: 1.4rem;
    }
  }

  &.khanacademy {
    .provider-icon {
      height: 2rem;
    }
  }
}

.material-symbols-outlined {
  font-display: block;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;

  &__filled {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 20;
  }

  &.hide-icon {
    cursor: pointer;
  }

  &.chip-remove {
    height: 18px !important;
    width: 18px !important;
    font-size: 18px !important;
  }
}

mat-button-toggle-group {
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 35px;
    padding: 0 10px;

    .app-education-type-icon {
      margin-right: 0.2rem;
    }

    .app-stack-icon {
      border-radius: 0%;
      margin: 0;
    }
  }
}

.mat-card {
  .image-upload-card {
    padding: 0 0 1rem !important;
  }
}

.mat-card-title {
  font-size: 18px;
  font-weight: 500;
}

.stack-card,
.active-stack {
  .mat-card-header-text {
    margin: 0 !important;
  }
}

.compact-table {
  tr.mat-header-row {
    height: 30px;
  }

  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 0px !important;
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 0px !important;
  }
}

.mat-option,
mat-form-field {
  font-size: 14px !important;
}

.mat-tooltip {
  font-size: 12px !important;
}

.mat-menu-content {
  padding: 8px;
}

.mat-step-label {
  min-width: 0 !important;
}

.mat-progress-bar,
.mat-progress-bar-fill {
  height: 0.5rem !important;
  border-radius: 4px;
}

.mat-progress-spinner {
  &.roadmap-percentage-wheel {
    transform: scale(0.8);
    box-shadow: 0 0 0 10px #e8e8e8 inset;
    border-radius: 50%;
  }
}

.mat-progress-bar-buffer {
  background-color: #e8e8e8 !important;
}

.snackbar {
  &-success {
    background-color: $dark-theme--sidebar--background !important;
    color: $dark-theme--font--primary !important;
  }
  &-error {
    background-color: red !important;
    color: white !important;
    font-weight: 500;
  }
}

.mat-horizontal-stepper-header-container {
  margin: 0;

  @media screen and (min-width: $breakpoint-tablet-large) {
    margin: 0 5rem;
  }
}

.mobile-navigation-sidenav-container {
  z-index: 9 !important;

  &.closed {
    z-index: 0 !important;
  }
}

.onboarding-form {
  .mat-horizontal-stepper-header,
  .mat-horizontal-content-container {
    padding: 0 !important;
  }

  .mat-radio-label {
    white-space: normal !important;
  }
}

.modal-class {
  min-width: 90vw !important;
  max-height: 90vh !important;
  overflow: auto;

  @media screen and (min-width: $breakpoint-tablet-large) {
    min-width: 70vw !important;
    width: 70vw !important;
    min-height: 50vh !important;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    min-width: 50vw !important;
    width: 50vw !important;
    min-height: 10vh !important;
  }

  @media screen and (min-width: $breakpoint-desktop-large) {
    min-width: 40vw !important;
    width: 40vw !important;
  }
}

.modal-edit-class {
  min-width: 90vw !important;
  max-height: 90vh !important;
  overflow: auto;

  @media screen and (min-width: $breakpoint-tablet-large) {
    min-width: 70vw !important;
    min-height: 30vh !important;
  }

  @media screen and (min-width: $breakpoint-desktop-large) {
    min-width: 40vw !important;
    min-height: 10vh !important;
  }
}

.mat-button-focus-overlay,
.mat-button-ripple {
  z-index: -1;
}

.mat-button-focus-overlay {
  display: none;
}

.apexcharts-canvas {
  margin: 0 auto !important;
}

.mat-dialog-title {
  margin: 0 !important;
}

.mat-dialog-content {
  @media screen and (min-width: $breakpoint-tablet-large) {
    overflow: hidden !important;
  }
}
