@import "src/styles/app-vars.scss";

.navigation {
  display: grid;
  grid-template-rows: auto 1fr;

  mat-toolbar {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    z-index: 5 !important;

    .menu-brand {
      height: 2rem;
    }
  }

  .mobile-navigation-sidenav-container {
    position: fixed;
    background: none;
    height: 100%;
    width: 50%;
    z-index: 2 !important;

    @media screen and (min-width: $breakpoint-tablet) {
      width: 30%;
    }

    .mobile-navigation-sidenav {
      padding: 30% 0 20%;
      width: 100%;

      .sidebar-content {
        width: 100%;
        height: 100%;
        display: grid;
        align-content: space-between;
        overflow: hidden;

        .sidebar-option {
          font-size: 0.9rem;
          padding: 0 10%;

          .material-symbols-outlined {
            margin-right: 0.5rem;
          }

          .sidebar-image {
            height: 1.2rem;
            margin-right: 0.4rem;
            padding-left: 0.2rem;
          }
        }
      }
    }
  }
}
