@import "src/styles/app-vars.scss";

mat-toolbar {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  z-index: 1000 !important;

  .menu-brand {
    height: 1.5rem;
  }
}

.mobile-navigation-sidenav-container {
  position: absolute;
  background: none;
  top: 56px;
  bottom: 0;
  left: 0;
  width: 50%;

  @media screen and (min-width: $breakpoint-tablet) {
    width: 30%;
  }

  .mobile-navigation-sidenav {
    width: 100%;

    .sidebar-content {
      width: 100%;
      height: 100%;
      display: grid;
      align-content: space-around;
      overflow: hidden;

      .sidebar-option {
        font-size: 0.9rem;
        padding: 0 10%;

        .material-symbols-outlined {
          margin-right: 0.5rem;
        }

        .sidebar-image {
          height: 1.2rem;
          margin-right: 0.4rem;
          padding-left: 0.2rem;
        }
      }
    }
  }
}
