<mat-card>
  <mat-card-header>
    <mat-card-title> Overview </mat-card-title>
  </mat-card-header>

  <mat-card-content class="overview-grid">
    <div class="overview-grid__books">
      <div class="overview-grid__count">{{ books }}</div>
      <div class="overview-grid__title">Books</div>
    </div>
    <div class="overview-grid__courses">
      <div class="overview-grid__count">{{ courses }}</div>
      <div class="overview-grid__title">Courses</div>
    </div>
    <div class="overview-grid__degrees">
      <div class="overview-grid__count">{{ degrees }}</div>
      <div class="overview-grid__title">Degrees</div>
    </div>
    <div class="overview-grid__tutorials">
      <div class="overview-grid__count">{{ tutorials }}</div>
      <div class="overview-grid__title">Tutorials</div>
    </div>
  </mat-card-content>
</mat-card>
