<div class="content">
  <div class="header">
    <h2 class="title" mat-dialog-title [innerHtml]="item.title"></h2>

    <div class="header-section">
      <div class="education-stack">
        <img
          *ngFor="let tech of item.stack"
          class="app-stack-icon"
          matTooltip="{{ tech.title }}"
          src="/assets/images/stack/{{ tech.name }}-original.svg"
        />
      </div>

      <button mat-button [matMenuTriggerFor]="menu"
        ><span class="material-symbols-outlined">more_horiz</span></button
      >
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editItem()">{{
        "ACTIONS.EDIT" | translate
      }}</button>
      <button mat-menu-item (click)="deleteItem()">{{
        "ACTIONS.DELETE" | translate
      }}</button>
    </mat-menu>
  </div>

  <div class="body" mat-dialog-content>
    <div class="column">
      <div class="column-grid">
        <div class="row">
          <div class="grid-item__title">
            {{ item.type === "book" ? ("FORMS.AUTHOR" | translate) : "" }}
            {{
              item.type === "course" ? ("FORMS.INSTRUCTOR" | translate) : ""
            }}</div
          >
          <p class="item-value" [innerHTML]="item.author"></p>
        </div>

        <div class="row" *ngIf="item.startDate">
          <div class="grid-item__title">{{
            "FORMS.DATES.TIMELINE" | translate
          }}</div>
          <p class="item-value">
            {{ item.startDate | date }} -
            {{ (item.endDate | date) || ("FORMS.DATES.PRESENT" | translate) }}
          </p>
        </div>
      </div>
    </div>

    <div class="column description-column">
      <div class="row">
        <div class="grid-item__title">{{
          "FORMS.DESCRIPTION" | translate
        }}</div>
        <p
          *ngIf="item.description"
          class="item-value description-text"
          [innerHtml]="item.description"
        ></p>
        <p class="item-value description-text" *ngIf="!data.description">
          Add a summary of the things you learned so you can include in your job
          applications
        </p>
      </div>
    </div>

    <div class="actions" mat-dialog-actions>
      <a *ngIf="item.github" target="_blank" href="{{ item.github }}">
        <button mat-raised-button class="github-button">
          <img
            class="github-icon"
            src="/assets/images/stack/github-original.svg"
            alt="Github Icon"
          />
          <span class="github-button__text">{{
            "FORMS.GITHUB" | translate
          }}</span></button
        >
      </a>
      <a [href]="item.link" target="_blank" *ngIf="item.link">
        <button
          mat-raised-button
          type="button"
          class="provider-button"
          [ngClass]="item.metadata?.provider"
        >
          <img
            class="provider-icon"
            *ngIf="item.metadata?.provider"
            src="/assets/images/icons/{{ item.metadata?.provider }}.svg"
          />

          <span
            *ngIf="!item.metadata?.provider"
            class="provider-button__text"
            >{{ "FORMS.LINK" | translate }}</span
          >
        </button>
      </a>
      <a>
        <button mat-raised-button color="default" (click)="onCancel()">{{
          "ACTIONS.CLOSE" | translate
        }}</button>
      </a>
    </div>
  </div>
</div>
