.user-card {
  padding: 0.5rem;
  position: relative;

  .header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 6rem;
    background-repeat: no-repeat;
    border-radius: 4px 4px 0 0;
    background-size: cover;
  }

  .user-details {
    text-align: center;
    padding-top: 3.2rem;
    position: relative;
    z-index: 100;

    .user-image {
      height: 5rem;
      width: 5rem;
      border: 3px solid white;
      border-radius: 50%;
      object-fit: cover;
    }

    .user-name {
      font-size: 1.1rem;
      font-weight: 500;
      margin: 1rem auto 0.5;
    }

    .user-path {
      font-size: 0.9rem;
    }
  }

  .card-header {
    text-align: center;
  }

  .card-grid {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem auto;

    .contact-link {
      a {
        text-decoration: none;
      }
    }

    .social-image {
      height: 1.5rem;
    }
  }

  .actions {
    display: grid;
    justify-content: center;
    margin-bottom: 1rem;
  }
}
