<mat-card *ngIf="user" class="user-card">
  <div
    class="header"
    [ngStyle]="{
      backgroundImage: user.coverImage
        ? 'url(' + user.coverImage + ')'
        : 'url(\'/assets/images/cover-fallback.jpg\')',
      backgroundSize: 'cover !important'
    }"
  >
  </div>
  <div class="user-details">
    <img
      class="user-image"
      [src]="
        user.profileImage
          ? user.profileImage
          : '/assets/images/user-fallback.png'
      "
      alt="User Image"
    />
    <div class="user-name">{{ user.firstName }} {{ user.lastName }}</div>
    <div class="user-path">{{ user.path.name | translate }}</div>
  </div>

  <div class="card-grid">
    <div class="contact-link email-link" *ngIf="user.email">
      <a href="{{ user.email }}" target="_blank"> Email </a>
    </div>
    <div class="contact-link cv-link" *ngIf="user.links.cv">
      <a href="{{ user.links.cv }}" target="_blank"> CV </a>
    </div>
    <div class="contact-link portfolio-link" *ngIf="user.links.portfolio">
      <a href="{{ user.links.portfolio }}" target="_blank"> Portfolio </a>
    </div>
  </div>

  <div class="card-grid">
    <div
      class="social-link github-link"
      *ngIf="user.github && user.github.username"
    >
      <a href="https://github.com/{{ user.github.username }}" target="_blank">
        <img
          class="social-image"
          src="/assets/images/stack/github-original.svg"
          alt="Github Icon"
        />
      </a>
    </div>
    <div class="social-link linkedIn-link" *ngIf="user.links.linkedIn">
      <a href="{{ user.links.linkedIn }}" target="_blank">
        <img
          class="social-image"
          src="/assets/images/icons/linkedin.png"
          alt="linkedIn Icon"
        />
      </a>
    </div>
    <div class="social-link twitter-link" *ngIf="user.links.twitter">
      <a href="{{ user.links.twitter }}" target="_blank">
        <img
          class="social-image"
          src="/assets/images/icons/twitter.png"
          alt="twitter Icon"
        />
      </a>
    </div>
  </div>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="editProfile.emit()">{{
      "PROFILE.EDIT" | translate
    }}</button>
  </div>
</mat-card>
