<mat-card *ngIf="user" class="user-card">
  <div
    class="header"
    [ngStyle]="{
      backgroundImage: user.coverImage ? 'url(' + user.coverImage + ')' : '',
      backgroundSize: user.coverImage ? 'cover !important' : '',
      backgroundColor: !user.coverImage ? 'lightgrey' : ''
    }"
  >
  </div>
  <div class="user-details">
    <img
      class="user-image"
      [src]="
        user.profileImage
          ? user.profileImage
          : '/assets/images/user-fallback.png'
      "
      alt="User Image"
    />
    <div class="user-name">{{ user.firstName }} {{ user.lastName }}</div>
    <div class="user-path">{{ user.path.name | translate }}</div>
  </div>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="editProfile.emit()">{{
      "PROFILE.EDIT" | translate
    }}</button>
  </div>
</mat-card>
