@import "src/styles/app-vars.scss";

.user-card {
  padding: 0.5rem;
  position: relative;

  .header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 6rem;
    background-repeat: no-repeat;
    border-radius: 4px 4px 0 0;
    background-size: cover;

    @media screen and (min-width: $breakpoint-tablet) {
      height: 7rem;
    }

    @media screen and (min-width: $breakpoint-desktop-extra-large) {
      height: 8rem;
    }
  }

  .user-details {
    text-align: center;
    padding-top: 3.2rem;
    position: relative;

    @media screen and (min-width: $breakpoint-tablet) {
      padding-top: 4.1rem;
    }

    @media screen and (min-width: $breakpoint-desktop-extra-large) {
      padding-top: 5rem;
    }

    .user-image {
      height: 5rem;
      width: 5rem;
      border: 3px solid white;
      border-radius: 50%;
      object-fit: cover;
    }

    .user-name {
      font-size: 1.1rem;
      font-weight: 500;
      margin: 1rem auto 0.5;
    }

    .user-path {
      font-size: 0.9rem;
    }
  }

  .card-header {
    text-align: center;
  }

  .actions {
    display: grid;
    justify-content: center;
    margin: 1rem 0;
  }
}
