<div class="auth-container">
  <div class="auth-card">
    <div class="auth-brand">
      <img
        class="menu-brand"
        [src]="
          currentTheme === 'dark'
            ? '/assets/images/logo/logo-dark.png'
            : '/assets/images/logo/logo.png'
        "
        routerLink="/roadmap"
        alt="roadmapr Logo"
      />
    </div>

    <h1>{{ "PAGE_NOT_FOUND.T" | translate }}</h1>
    <h2>{{ "PAGE_NOT_FOUND.SUB" | translate }}</h2>
    <p>{{ "PAGE_NOT_FOUND.NOT_FOUND" | translate }}</p>
    <a href="/roadmap">
      <button mat-raised-button color="primary">{{
        "PAGE_NOT_FOUND.HOME" | translate
      }}</button>
    </a>
  </div>
</div>
