@import "src/styles/app-vars.scss";

.password-update-container {
  display: grid;
  grid-template-columns: 1fr 20%;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: end;
  align-items: flex-end;

  @media screen and (min-width: $breakpoint-tablet-large) {
    grid-template-columns: 1fr 20%;
  }

  .actions {
    display: flex;
    column-gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2.2rem;
  }
}
