.password-update-container {
  display: grid;
  grid-template-columns: 1fr 20%;
  gap: 1rem;
  align-items: flex-end;

  .form-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hide-icon {
    cursor: pointer;
  }

  .actions {
    display: flex;
    column-gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2.2rem;
  }
}
