<div class="password-update-container">
  <app-update-password-inputs
    #inputs
    [hasPassword]="hasPassword"
  ></app-update-password-inputs>

  <div mat-dialog-actions class="actions">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!inputs.form.valid"
      (click)="onSaveClick()"
      >{{ "ACTIONS.SAVE" | translate }}</button
    >
    <button
      mat-raised-button
      color="default"
      (click)="togglePasswordUpdate.emit()"
      >{{ "ACTIONS.CANCEL" | translate }}</button
    >
  </div>
</div>
