@import "src/styles/app-vars.scss";

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 1rem;
  gap: 1rem;

  .title {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    align-items: center;
  }
}

.body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media screen and (min-width: $breakpoint-tablet-large) {
    grid-template-columns: 1fr 2fr;
  }

  .column {
    display: grid;
    grid-template-columns: 1fr;
    align-content: flex-start;
    gap: 1rem;

    .column-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      @media screen and (min-width: $breakpoint-tablet-large) {
        grid-template-columns: 1fr;
      }
    }
  }

  .row {
    .grid-item__title {
      font-weight: 500;
      padding-bottom: 0.2rem;
    }
  }

  .description-text {
    white-space: pre-line;
  }

  .actions {
    grid-column: 1 /-1;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    gap: 1rem;
    margin-bottom: 0.3rem;
  }
}
