<form [formGroup]="form">
  <div class="form-title">{{ "FORMS.LANGUAGE.SPOKEN" | translate }}</div>
  <div formArrayName="languagesCtrl">
    <div
      class="language-grid"
      *ngFor="
        let languageCtrl of form.controls.languagesCtrl.controls;
        let i = index
      "
      [formGroupName]="i"
    >
      <mat-form-field appearance="outline">
        <mat-label>{{ "FORMS.LANGUAGE.T" | translate }}</mat-label>

        <mat-select formControlName="language" [compareWith]="compareValues">
          <mat-option
            *ngFor="let language of sortedLanguageList"
            [value]="language"
          >
            <div class="type-option"> {{ language.name | translate }} </div>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "FORMS.LANGUAGE.LEVEL" | translate }}</mat-label>

        <mat-select formControlName="level" [compareWith]="compareValues">
          <mat-option *ngFor="let level of LANGUAGE_LEVELS" [value]="level">
            <div class="type-option"> {{ level.name | translate }} </div>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-button
        color="warn"
        class="language-grid__remove-button"
        (click)="form.controls.languagesCtrl.removeAt(i)"
        >{{ "ACTIONS.REMOVE" | translate }}</button
      >
    </div>
  </div>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="addLanguageControl()">{{
      "FORMS.LANGUAGE.ADD" | translate
    }}</button>
  </div>
</form>
