<app-employment-filters
  *ngIf="employment"
  [employmentId]="employment._id"
  (filterEmployment)="filterEmployment($event)"
  (onUpdateView)="updateView($event)"
  (updateEmployment)="addEmployment($event)"
>
</app-employment-filters>

<div cdkDropListGroup class="employment-container">
  <div class="employment-div">
    <h2>To Do</h2>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todoArray"
      class="employment-items"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="employment-item" *ngFor="let data of todoArray">
        <app-employment-item
          *ngIf="selectedFilter === null || selectedFilter === data.type"
          [data]="data"
          [selectedView]="selectedView"
          cdkDrag
        >
        </app-employment-item>
      </div>
    </div>
  </div>

  <div class="employment-div">
    <h2>In Progress</h2>

    <div
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgressArray"
      class="employment-items"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="employment-item" *ngFor="let data of inProgressArray">
        <app-employment-item
          *ngIf="selectedFilter === null || selectedFilter === data.type"
          [data]="data"
          [selectedView]="selectedView"
          cdkDrag
        >
        </app-employment-item>
      </div>
    </div>
  </div>

  <div class="employment-div">
    <h2>Done</h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="doneArray"
      class="employment-items"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="employment-item" *ngFor="let data of doneArray">
        <app-employment-item
          *ngIf="selectedFilter === null || selectedFilter === data.type"
          [data]="data"
          [selectedView]="selectedView"
          cdkDrag
        >
        </app-employment-item>
      </div>
    </div>
  </div>
</div>
