@import "src/styles/app-vars.scss";

mat-card {
  cursor: grab;
  padding: 1rem 0;
  margin-bottom: 0.5rem;

  mat-card-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;

    mat-card-title {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      font-size: 1rem;
    }

    mat-card-subtitle {
      font-size: 1rem;
      margin-bottom: 0;
    }

    .education-stack {
      text-align: end;
      padding-right: 1rem;
    }
  }
}
