@import "src/styles/app-vars.scss";

mat-card {
  cursor: grab;
  padding: 1rem 0;
  margin-bottom: 0.5rem;

  mat-card-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;

    @media screen and (min-width: $breakpoint-tablet-large) {
      grid-template-columns: 2fr 1fr auto;
    }

    mat-card-title {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      font-size: 1rem;
    }

    mat-card-subtitle {
      font-size: 1rem;
      margin-bottom: 0;
    }

    .education-stack {
      text-align: end;
      padding-right: 1rem;

      &.pin-displayed {
        padding-right: 0.3rem;
      }
    }

    .pin {
      font-size: 1.4rem;
      margin-right: 1rem;
      cursor: pointer;

      &-angle {
        transform: rotate(45deg);
      }

      &-pinned {
        fill: 1;
      }

      &:hover {
        border-radius: 50%;
        background-color: #eeeeee;
      }
    }
  }

  mat-card-content {
    padding: 0 1rem;

    .mat-card-subtitle {
      margin-bottom: 0;
    }

    .content {
      padding-top: 1rem;

      .timeline_title,
      .description_title {
        font-weight: 500;
      }

      .description {
        white-space: pre-line;
      }

      .actions {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: end;
        gap: 0.5rem;
      }
    }
  }
}
