<mat-card
  [ngClass]="{ recommendation: data.recommendation }"
  (click)="openItemDetails()"
  (mouseenter)="showPin()"
  (mouseleave)="hidePin()"
>
  <mat-card-header>
    <mat-card-title>
      <img
        src="/assets/images/icons/{{ data.type }}.png"
        matTooltip="{{ data.type | titlecase }}"
        class="app-education-type-icon"
      />
      {{ data.title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ data.author }}
    </mat-card-subtitle>

    <div
      class="education-stack"
      [ngClass]="{ 'pin-displayed': pinDisplayed || isPinned }"
    >
      <img
        *ngFor="let tech of sortedStack"
        class="app-stack-icon"
        matTooltip="{{ tech.title }}"
        src="/assets/images/stack/{{ tech.name }}-original.svg"
      />
    </div>

    <div
      class="pin-item"
      *ngIf="!isPinned && pinDisplayed"
      (click)="togglePin($event)"
      ><span class="material-symbols-outlined pin pin-angle">
        push_pin
      </span></div
    >

    <div class="pin-item" *ngIf="isPinned" (click)="togglePin($event)"
      ><span
        class="material-symbols-outlined material-symbols-outlined__filled pin"
      >
        push_pin
      </span></div
    >
  </mat-card-header>
  <mat-card-content>
    <div class="content" *ngIf="selectedView === 'expanded'">
      <div class="timeline" *ngIf="data.startDate">
        <div class="timeline_title">{{
          "FORMS.DATES.TIMELINE" | translate
        }}</div>
        <p class="timeline_text"
          >{{ data.startDate | date }} -
          {{ (data.endDate | date) || ("FORMS.DATES.PRESENT" | translate) }}</p
        >
      </div>

      <div class="description" *ngIf="data.description">
        <div class="description_title">{{
          "FORMS.DESCRIPTION" | translate
        }}</div>
        <p class="description_text">{{ data.description }}</p>
      </div>

      <p class="actions">
        <a [href]="data.link" target="_blank" *ngIf="data.link">
          <button
            mat-raised-button
            type="button"
            class="provider-button"
            [ngClass]="getProviderClass()"
          >
            <img
              class="provider-icon"
              *ngIf="data.metadata?.provider"
              src="/assets/images/icons/{{ data.metadata?.provider }}.svg"
            />

            <span
              *ngIf="!data.metadata?.provider"
              class="provider-button__text"
              >{{ "FORMS.LINK" | translate }}</span
            >
          </button>
        </a>

        <a href="data.github" *ngIf="data.github">
          <button mat-raised-button color="default" type="button">{{
            "FORMS.GITHUB" | translate
          }}</button>
        </a>
      </p>
    </div>

    <!-- <mat-chip-list class="chips" *ngIf="data.recommendation">
      <mat-chip class="users-chip"> 1K+ Users </mat-chip>
      <mat-chip
        class="recommendation-chip"
        (removed)="removeRecommendation(data)"
      >
        Recommended
        <button matChipRemove [attr.aria-label]="'Remove recommendation'">
          <span class="material-symbols-outlined">cancel</span>
        </button>
      </mat-chip>
    </mat-chip-list> -->
  </mat-card-content>
</mat-card>
