.filter-container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;

  .filters {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
    font-size: 0.9rem;

    .section-header {
      font-size: 1.3rem;
      font-weight: 500;
    }

    .filter-type {
      font-weight: 500;
      margin-right: 0.5rem;
    }

    .toggle-view {
      .material-symbols-outlined.view {
        font-size: 1.5rem;

        &.compact {
          margin-right: 0.2rem;
        }
      }
    }

    .mat-chip {
      font-size: 0.9rem;
      cursor: pointer;

      .mat-chip-trailing-icon {
        margin-left: 4px;
      }
    }
  }
}
