@import "src/styles/app-vars.scss";

.filter-container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;

  .filters {
    display: grid;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
    grid-template-columns: auto 1fr;

    .section-header {
      font-size: 1.3rem;
      font-weight: 500;
    }

    .filter-items {
      display: none;

      @media screen and (min-width: $breakpoint-tablet-large) {
        display: block;
      }
    }
  }
}
