<mat-toolbar color="primary">
  <button mat-icon-button class="menu-icon burger-icon" aria-label="Menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <img
    class="menu-brand"
    src="/assets/images/roadmapr-logo.png"
    routerLink="/dashboard"
    alt="RoadMapr Logo"
  />
  <span class="menu-spacer"></span>
  <button
    mat-icon-button
    class="menu-icon message-icon"
    aria-label="Message icon"
  >
    <mat-icon>message</mat-icon>
  </button>
  <button
    mat-icon-button
    class="menu-icon notification-icon"
    aria-label="Notification icon"
  >
    <mat-icon>notifications</mat-icon>
  </button>
  <button
    mat-icon-button
    class="menu-icon profile-icon"
    aria-label="Profile icon"
  >
    <mat-icon>person</mat-icon>
  </button>
  <button
    mat-icon-button
    class="menu-icon log-out-icon"
    aria-label="Logout icon"
    (click)="logout()"
  >
    Logout
  </button>
</mat-toolbar>
