<mat-card class="stack-card" *ngIf="this.activeStack; else addStack">
  <mat-card-header>
    <mat-card-title
      ><span class="material-symbols-outlined roadmap-title-icon">
        data_object
      </span>
      {{ activeStack.title | translate }}
    </mat-card-title>

    <div class="tech-stack" *ngIf="!isCustomStackEmpty">
      <img
        *ngFor="let tech of activeStack.stack?.core"
        class="app-stack-icon"
        matTooltip="{{ tech.title }}"
        src="/assets/images/stack/{{ tech.name }}-original.svg"
      />
      <img
        *ngFor="let tech of activeStack.stack?.choice"
        class="app-stack-icon"
        matTooltip="{{ tech.title }}"
        src="/assets/images/stack/{{ tech.name }}-original.svg"
      />
    </div>

    <div class="custom-tech-stack" *ngIf="isCustomStackEmpty">
      <div class="custom-icon"></div>
      <div class="custom-icon"></div>
      <div class="custom-icon"></div>
      <div class="custom-icon"></div>
      <div class="custom-icon"></div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="progress-grid" *ngIf="!isCustomStackEmpty">
      <div class="progress-grid-section">
        <ng-container *ngFor="let tech of stackGridOne">
          <div *ngIf="tech.first && showStackSubHeaders" class="list-title">{{
            tech.list | uppercase
          }}</div>

          <div class="stack-progress">
            <img
              class="stack-icon"
              matTooltip="{{ tech.title }}"
              src="/assets/images/stack/{{ tech.name }}-original.svg"
            />
            <mat-progress-bar
              mode="determinate"
              style="height: 5"
              [value]="getPercentageValue(tech)"
            ></mat-progress-bar>
            <div class="count">
              {{ tech.count }}
            </div>
          </div>
        </ng-container>
      </div>

      <div class="progress-grid-section">
        <ng-container *ngFor="let tech of stackGridTwo">
          <div *ngIf="tech.first" class="list-title">{{
            tech.list | uppercase
          }}</div>

          <div class="stack-progress">
            <img
              class="stack-icon"
              matTooltip="{{ tech.title }}"
              src="/assets/images/stack/{{ tech.name }}-original.svg"
            />
            <mat-progress-bar
              mode="determinate"
              style="height: 5"
              [value]="getPercentageValue(tech)"
            ></mat-progress-bar>
            <div class="count">
              {{ tech.count }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="custom-stack-empty-message" *ngIf="isCustomStackEmpty">
      {{ "ROADMAP.STACK.EMPTY_CUSTOM" | translate }}
    </div>
  </mat-card-content>
</mat-card>

<ng-template #addStack>
  <mat-card class="stack-card">
    <mat-card-header>
      <mat-card-title
        ><span class="material-symbols-outlined roadmap-title-icon">
          data_object
        </span>
        {{ "ROADMAP.STACK.T" | translate }}
      </mat-card-title>

      <div class="custom-tech-stack">
        <div class="custom-icon"></div>
        <div class="custom-icon"></div>
        <div class="custom-icon"></div>
        <div class="custom-icon"></div>
        <div class="custom-icon"></div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="select-stack-message">
        <p> {{ "ROADMAP.STACK.SELECT_HEADER" | translate }}</p>
        <p> {{ "ROADMAP.STACK.SELECT_BODY" | translate }}</p>
      </div>
      <div class="actions">
        <button mat-raised-button color="primary" (click)="editRoadmap()">
          {{ "ROADMAP.STACK.SELECT_BUTTON" | translate }}</button
        >
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
