app-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

mat-sidenav-container {
  margin-top: 5rem;

  mat-sidenav {
    position: fixed;
    top: 5rem;
    height: 100vh;
    overflow: auto;
  }

  .mat-drawer-side {
    border: none;
  }

  .mat-drawer {
    background-color: #fafafa;
  }

  .main-content {
    margin: 0 1rem 2rem;
  }
}
