@import "src/styles/app-vars.scss";

app-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.app-content-main {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  app-mobile-navigation {
    display: block;
    width: 100vw;
  }

  app-navigation {
    display: none;
  }

  @media screen and (min-width: $breakpoint-tablet-large) {
    app-mobile-navigation {
      display: none;
    }

    app-navigation {
      display: block;
    }

    &.authenticated {
      grid-template-columns: 12rem 1fr;
      transition: all 0.5s;

      &.collapsed {
        grid-template-columns: 4rem 1fr;
      }

      .mat-drawer-side {
        border: none;
      }

      .mat-drawer {
        background-color: #fafafa;
      }
    }
  }
}

.main-content {
  margin-top: 4rem;

  @media screen and (min-width: $breakpoint-tablet-large) {
    margin-top: 0;
  }
}
