app-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.app-content-main {
  display: grid;
  grid-template-columns: 13% 1fr;
  gap: 1rem;
  transition: all 0.5s;

  &.collapsed {
    grid-template-columns: 4% 1fr;
  }

  .mat-drawer-side {
    border: none;
  }

  .mat-drawer {
    background-color: #fafafa;
  }

  .main-content {
    margin: 1rem;
  }
}
