<mat-card>
  <mat-card-title>GitHub</mat-card-title>
  <mat-card-content>
    <p>Public Repositories: {{ data.length }}</p>

    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let repo"> {{ repo.name }} </td>
      </ng-container>

      <ng-container matColumnDef="language">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Language </th>
        <td mat-cell *matCellDef="let repo">
          <img
            class="language-icon"
            src="/assets/images/stack/{{ repo.language }}-original.svg"
            alt="Stack Icon"
        /></td>
      </ng-container>

      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> Link </th>
        <td mat-cell *matCellDef="let repo">
          <a href="{{ repo.url }}" target="_blank"
            ><button mat-raised-button color="primary">Link</button></a
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [length]="data.length"
      [pageSize]="5"
      [hidePageSize]="true"
      aria-label="Select page"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
