<mat-card class="card">
  <div class="icon">
    <span class="material-symbols-outlined" [ngClass]="iconStyle">
      {{ icon }}</span
    >
  </div>
  <div class="content">
    <div class="title"> {{ title | translate }} </div>
    <div class="value" *ngIf="value || value === 0">
      {{ value }}
    </div>
    <div class="value" *ngIf="timeValue && timeValue.years > 1">
      {{
        "ROADMAP.DATE_YEARS"
          | translate : { years: timeValue.years, days: timeValue.days }
      }}
    </div>
    <div class="value" *ngIf="timeValue && timeValue.years === 1">
      {{
        "ROADMAP.DATE_YEAR"
          | translate : { years: timeValue.years, days: timeValue.days }
      }}
    </div>
    <div class="value" *ngIf="timeValue && timeValue.years === 0">
      {{ "ROADMAP.DATE_DAYS" | translate : { days: timeValue.days } }}
    </div>
  </div>
  <div
    *ngIf="trend"
    class="trend"
    [matTooltip]="'Compared to previous month'"
    [matTooltipShowDelay]="'500'"
    ><span class="material-symbols-outlined" [ngClass]="{ success: trend > 0 }">
      arrow_drop_up
    </span>
    {{ trend }}</div
  >
</mat-card>
