<mat-card class="card">
  <div class="icon">
    <span class="material-symbols-outlined" [ngClass]="iconStyle">
      {{ icon }}</span
    >
  </div>
  <div class="content">
    <div class="title"> {{ title | translate }} </div>
    <div class="value">
      {{ value }}
    </div>
  </div>
  <div
    *ngIf="trend"
    class="trend"
    [matTooltip]="'Compared to previous month'"
    [matTooltipShowDelay]="'500'"
    ><span class="material-symbols-outlined" [ngClass]="{ success: trend > 0 }">
      arrow_drop_up
    </span>
    {{ trend }}</div
  >
</mat-card>
