<mat-card>
  <mat-card-title>{{ "ROADMAP.PROJECTS.T" | translate }}</mat-card-title>

  <mat-card-content>
    <div class="card-container">
      <app-icon-card
        [icon]="'lightbulb'"
        [iconStyle]="'alternate'"
        [title]="'ROADMAP.PROJECTS.PERSONAL'"
        [value]="personal"
        [trend]="1"
      ></app-icon-card>

      <app-icon-card
        [icon]="'school'"
        [iconStyle]="'alternate'"
        [title]="'ROADMAP.PROJECTS.EDUCATIONAL'"
        [value]="educational"
        [trend]="2"
      ></app-icon-card>

      <app-icon-card
        [icon]="'list'"
        [iconStyle]="'alternate'"
        [title]="'ROADMAP.IN_PROGRESS'"
        [value]="inProgress"
        [trend]="1"
      ></app-icon-card>

      <app-icon-card
        [icon]="'checklist_rtl'"
        [iconStyle]="'alternate'"
        [title]="'ROADMAP.COMPLETED'"
        [value]="completed"
        [trend]="2"
      ></app-icon-card>
    </div>
  </mat-card-content>
</mat-card>
