<form [formGroup]="form">
  <div class="form-title">{{
    "PROFILE.HEADERS.PREVIOUS_EDUCATION" | translate
  }}</div>
  <div formArrayName="previousEducationCtrl">
    <div
      class="education-grid"
      *ngFor="
        let previousEducationCtrl of form.controls.previousEducationCtrl
          .controls;
        let i = index
      "
      [formGroupName]="i"
    >
      <mat-form-field appearance="outline">
        <mat-label>{{ "FORMS.EDUCATION.LEVEL" | translate }}</mat-label>

        <mat-select formControlName="level" [compareWith]="compareValues">
          <mat-option *ngFor="let level of EDUCATION_LEVELS" [value]="level">
            <div class="type-option"> {{ level.name | translate }} </div>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "FORMS.EDUCATION.SUBJECT" | translate }}</mat-label>
        <input matInput formControlName="subject" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "FORMS.EDUCATION.INSTITUTION" | translate }}</mat-label>
        <input matInput formControlName="school" />
      </mat-form-field>

      <button
        mat-button
        color="warn"
        class="language-grid__remove-button"
        (click)="form.controls.previousEducationCtrl.removeAt(i)"
        >{{ "ACTIONS.REMOVE" | translate }}</button
      >
    </div>
  </div>

  <div class="actions">
    <button
      mat-raised-button
      color="primary"
      (click)="addPreviousEducationControl()"
      >{{ "FORMS.EDUCATION.ADD" | translate }}</button
    >
  </div>
</form>
