<div class="auth-container">
  <div class="auth-brand">
    <img
      class="menu-brand"
      [src]="
        theme === 'dark'
          ? '/assets/images/logo/logo-dark.png'
          : '/assets/images/logo/logo.png'
      "
      routerLink="/dashboard"
      alt="roadmapr Logo"
    />
  </div>

  <div class="login-options">
    <button
      mat-raised-button
      class="github-login"
      [disabled]="!authUrl"
      (click)="loginWithGithub()"
    >
      <img
        class="github-icon"
        src="/assets/images/stack/github-original.svg"
        alt="Github Icon"
      />
      <span>{{ "AUTH.O_AUTH.GITHUB_LOGIN" | translate }}</span>
    </button>
  </div>

  <h1>{{ "AUTH.LOG_IN.T" | translate }}</h1>
  <form [formGroup]="form" (submit)="login()">
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label for="email">{{ "FORMS.EMAIL" | translate }}</mat-label>
        <input
          matInput
          type="email"
          [placeholder]="'FORMS.PLACEHOLDER.EMAIL' | translate"
          name="email"
          formControlName="email"
          required
        />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label for="password">{{ "FORMS.PASSWORD" | translate }}</mat-label>
        <input
          matInput
          type="password"
          [placeholder]="'FORMS.PLACEHOLDER.PASSWORD' | translate"
          name="password"
          formControlName="password"
          required
        />
      </mat-form-field>
    </div>

    <a href="/register">{{ "AUTH.LOG_IN.NOT_REGISTERED" | translate }}</a>

    <div class="form-action">
      <button type="submit" mat-raised-button color="primary">{{
        "AUTH.LOG_IN.T" | translate
      }}</button>
    </div>
  </form>
</div>
