<div class="auth-container">
  <div class="auth-brand">
    <img
      class="menu-brand"
      [src]="
        theme === 'dark'
          ? '/assets/images/logo/logo-dark.png'
          : '/assets/images/logo/logo.png'
      "
      routerLink="/dashboard"
      alt="roadmapr Logo"
    />
  </div>

  <div class="oauth-options">
    <button
      mat-raised-button
      class="github"
      color="github"
      [disabled]="!authUrl"
      (click)="loginWithGithub()"
    >
      <img
        class="github-icon"
        [src]="
          theme === 'dark'
            ? '/assets/images/stack/github-original.svg'
            : '/assets/images/stack/github-alternate.svg'
        "
        alt="Github Icon"
      />
      <span>{{ "AUTH.O_AUTH.GITHUB_LOGIN" | translate }}</span>
    </button>
  </div>

  <div class="divider">
    <span class="line"></span>
    <span>OR</span>
    <span class="line"></span>
  </div>

  <form [formGroup]="form">
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label for="email">{{ "FORMS.EMAIL" | translate }}</mat-label>
        <input
          matInput
          type="email"
          [placeholder]="'FORMS.PLACEHOLDER.EMAIL' | translate"
          name="email"
          formControlName="emailCtrl"
          required
        />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label for="password">{{ "FORMS.PASSWORD" | translate }}</mat-label>
        <input
          matInput
          type="password"
          [placeholder]="'FORMS.PLACEHOLDER.PASSWORD' | translate"
          name="password"
          formControlName="passwordCtrl"
          required
        />
        <span
          matSuffix
          class="material-symbols-outlined hide-icon"
          (click)="hidePassword = !hidePassword"
          >{{ hidePassword ? "visibility_off" : "visibility" }}</span
        >
      </mat-form-field>
    </div>

    <div class="form-action">
      <button
        mat-raised-button
        color="primary"
        (click)="login()"
        [disabled]="!form.valid"
        >{{ "AUTH.LOG_IN.T" | translate }}</button
      >
    </div>

    <a class="auth-type-switch" (click)="showRegister()">{{
      "AUTH.LOG_IN.NOT_REGISTERED" | translate
    }}</a>
  </form>
</div>
