<div class="form-title">{{ "PROFILE.HEADERS.INTERESTS" | translate }}</div>
<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>{{ "FORMS.INTERESTS.PERSONAL" | translate }}</mat-label>
    <textarea matInput formControlName="personalCtrl" rows="3"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ "FORMS.INTERESTS.PROFESSIONAL" | translate }}</mat-label>
    <textarea matInput formControlName="professionalCtrl" rows="3"></textarea>
  </mat-form-field>
</form>
