<app-loading *ngIf="!education"></app-loading>

<div class="education drag-container" *ngIf="education">
  <div class="drag-container-header">
    <app-drop-list-filters
      *ngIf="education"
      [type]="'EDUCATION.T'"
      [parentId]="education._id"
      [selectedView]="selectedView"
      [typeConfig]="typeConfig"
      [languageConfig]="languageFilterData"
      (onFilterLanguage)="filterByLanguage($event)"
      (onFilterType)="filterByType($event)"
      (onUpdateView)="updateView($event)"
      (onUpdate)="createEducationItem($event)"
    >
    </app-drop-list-filters>
  </div>

  <ng-scrollbar class="main-container">
    <div scrollViewport cdkScrollable>
      <div class="scroll">
        <div cdkDropListGroup class="drag-container-groups">
          <div class="drag-group">
            <h2 class="drag-group-title">{{
              "GENERAL.STATUS.TO_DO" | translate
            }}</h2>
            <div
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="todo"
              class="drag-group-items"
              id="todo"
              (cdkDropListDropped)="drop($event)"
            >
              <div *ngFor="let data of todo" class="drag-group-item" cdkDrag>
                <app-education-item
                  *ngIf="matchesFilters(data)"
                  [data]="data"
                  [selectedView]="selectedView"
                  (pinItem)="onPinToggle($event, todo)"
                >
                </app-education-item>
              </div>

              <div
                class="drag-group-item recommendation"
                *ngFor="let recommendation of recommendations; let i = index"
              >
                <app-education-recommendation
                  [data]="recommendation"
                  [index]="i"
                  [selectedView]="selectedView"
                  (onRemoveRecommendation)="removeRecommendationAtIndex($event)"
                  (onAddToList)="addRecommendationToList($event)"
                >
                </app-education-recommendation>
              </div>

              <app-drop-list-empty
                *ngIf="education && !todo?.length && !recommendations?.length"
                [header]="'EDUCATION.EMPTY_LIST.TO_DO_HEADER'"
                [message]="'EDUCATION.EMPTY_LIST.TO_DO_MESSAGE'"
              ></app-drop-list-empty>
            </div>
          </div>

          <div class="drag-group">
            <h2 class="drag-group-title">{{
              "GENERAL.STATUS.IN_PROGRESS" | translate
            }}</h2>
            <div
              cdkDropList
              #inProgressList="cdkDropList"
              [cdkDropListData]="inProgress"
              class="drag-group-items"
              id="inProgress"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                *ngFor="let data of inProgress"
                class="drag-group-item"
                cdkDrag
              >
                <app-education-item
                  *ngIf="matchesFilters(data)"
                  [data]="data"
                  [selectedView]="selectedView"
                  (pinItem)="onPinToggle($event, inProgress)"
                >
                </app-education-item>
              </div>

              <app-drop-list-empty
                *ngIf="education && inProgress && !inProgress.length"
                [header]="'EDUCATION.EMPTY_LIST.IN_PROGRESS_HEADER'"
                [message]="'EDUCATION.EMPTY_LIST.IN_PROGRESS_MESSAGE'"
              ></app-drop-list-empty>
            </div>
          </div>

          <div class="drag-group">
            <h2 class="drag-group-title">{{
              "GENERAL.STATUS.DONE" | translate
            }}</h2>
            <div
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="done"
              class="drag-group-items"
              id="done"
              (cdkDropListDropped)="drop($event)"
            >
              <div *ngFor="let data of done" class="drag-group-item" cdkDrag>
                <app-education-item
                  *ngIf="matchesFilters(data)"
                  [data]="data"
                  [selectedView]="selectedView"
                  (pinItem)="onPinToggle($event, done)"
                >
                </app-education-item>
              </div>

              <app-drop-list-empty
                *ngIf="education && done && !done.length"
                [header]="'EDUCATION.EMPTY_LIST.DONE_HEADER'"
                [message]="'EDUCATION.EMPTY_LIST.DONE_MESSAGE'"
              ></app-drop-list-empty>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-scrollbar>

  <ng-scrollbar class="mobile-container">
    <div scrollViewport cdkScrollable>
      <div class="scroll">
        <div class="drag-container-groups">
          <mat-tab-group #tabGroup animationDuration="0ms" [selectedIndex]="1">
            <mat-tab>
              <ng-template mat-tab-label>
                {{ "GENERAL.STATUS.TO_DO" | translate }}
              </ng-template>
              <div class="drag-group">
                <div
                  cdkDropList
                  #todoList="cdkDropList"
                  [cdkDropListData]="todo"
                  class="drag-group-items"
                  id="todo"
                  (cdkDropListDropped)="drop($event)"
                >
                  <div
                    *ngFor="let data of todo"
                    class="drag-group-item"
                    cdkDrag
                  >
                    <app-education-item
                      *ngIf="matchesFilters(data)"
                      [data]="data"
                      [selectedView]="selectedView"
                      (pinItem)="onPinToggle($event, todo)"
                    >
                    </app-education-item>
                  </div>

                  <div
                    class="drag-group-item recommendation"
                    *ngFor="
                      let recommendation of recommendations;
                      let i = index
                    "
                  >
                    <app-education-recommendation
                      [data]="recommendation"
                      [index]="i"
                      [selectedView]="selectedView"
                      (onRemoveRecommendation)="
                        removeRecommendationAtIndex($event)
                      "
                      (onAddToList)="addRecommendationToList($event)"
                    >
                    </app-education-recommendation>
                  </div>

                  <app-drop-list-empty
                    *ngIf="
                      education && !todo?.length && !recommendations?.length
                    "
                    [header]="'EDUCATION.EMPTY_LIST.TO_DO_HEADER'"
                    [message]="'EDUCATION.EMPTY_LIST.TO_DO_MESSAGE'"
                  ></app-drop-list-empty>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                {{ "GENERAL.STATUS.IN_PROGRESS" | translate }}
              </ng-template>
              <div class="drag-group">
                <div
                  cdkDropList
                  #inProgressList="cdkDropList"
                  [cdkDropListData]="inProgress"
                  class="drag-group-items"
                  id="inProgress"
                  (cdkDropListDropped)="drop($event)"
                >
                  <div
                    *ngFor="let data of inProgress"
                    class="drag-group-item"
                    cdkDrag
                  >
                    <app-education-item
                      *ngIf="matchesFilters(data)"
                      [data]="data"
                      [selectedView]="selectedView"
                      (pinItem)="onPinToggle($event, inProgress)"
                    >
                    </app-education-item>
                  </div>

                  <app-drop-list-empty
                    *ngIf="education && inProgress && !inProgress.length"
                    [header]="'EDUCATION.EMPTY_LIST.IN_PROGRESS_HEADER'"
                    [message]="'EDUCATION.EMPTY_LIST.IN_PROGRESS_MESSAGE'"
                  ></app-drop-list-empty>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                {{ "GENERAL.STATUS.DONE" | translate }}
              </ng-template>
              <div class="drag-group">
                <div
                  cdkDropList
                  #doneList="cdkDropList"
                  [cdkDropListData]="done"
                  class="drag-group-items"
                  id="done"
                  (cdkDropListDropped)="drop($event)"
                >
                  <div
                    *ngFor="let data of done"
                    class="drag-group-item"
                    cdkDrag
                  >
                    <app-education-item
                      *ngIf="matchesFilters(data)"
                      [data]="data"
                      [selectedView]="selectedView"
                      (pinItem)="onPinToggle($event, done)"
                    >
                    </app-education-item>
                  </div>

                  <app-drop-list-empty
                    *ngIf="education && done && !done.length"
                    [header]="'EDUCATION.EMPTY_LIST.DONE_HEADER'"
                    [message]="'EDUCATION.EMPTY_LIST.DONE_MESSAGE'"
                  ></app-drop-list-empty>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </ng-scrollbar>
</div>
