<div class="education drag-group">
  <div class="drag-group-header">
    <app-drop-list-filters
      *ngIf="education"
      [type]="'education'"
      [parentId]="education._id"
      [selectedView]="selectedView"
      [typeConfig]="typeConfig"
      [languageConfig]="languageFilterData"
      (onFilterLanguage)="filterByLanguage($event)"
      (onFilterType)="filterByType($event)"
      (onUpdateView)="updateView($event)"
      (onUpdate)="createEducationItem($event)"
    >
    </app-drop-list-filters>

    <div class="drag-group-titles">
      <h2>To Do</h2>
      <h2>In Progress</h2>
      <h2>Done</h2>
    </div>
  </div>

  <div class="scroll" cdkScrollable>
    <div cdkDropListGroup class="drag-group-container">
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todoArray"
        class="drag-group-items"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="no-item-message" *ngIf="todoArray?.length === 0">
          <span class="material-symbols-outlined"> add </span>
          <p class="message-primary">No Future Education Plans</p>
          <p class="message-secondary"
            >Making plans for future learning wil help keep you on track</p
          >
        </div>
        <div *ngFor="let data of todoArray" class="drag-group-item" cdkDrag>
          <app-education-item
            *ngIf="matchesFilters(data)"
            [data]="data"
            [selectedView]="selectedView"
            (pinItem)="onPinToggle($event)"
          >
          </app-education-item>
        </div>
        <!-- <div
          class="drag-group-item recommendation"
          *ngFor="let data of recommendationsArray"
        >
          <app-education-item [data]="data"> </app-education-item>
        </div> -->
      </div>

      <div
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgressArray"
        class="drag-group-items"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="no-item-message" *ngIf="inProgressArray?.length === 0">
          <span class="material-symbols-outlined"> add </span>
          <p class="message-primary">No Education In Progress</p>
          <p class="message-secondary"
            >Taking a course is the best way to get started in software
            development</p
          >
        </div>
        <div
          *ngFor="let data of inProgressArray"
          class="drag-group-item"
          cdkDrag
        >
          <app-education-item
            *ngIf="matchesFilters(data)"
            [data]="data"
            [selectedView]="selectedView"
            (pinItem)="onPinToggle($event)"
          >
          </app-education-item>
        </div>
      </div>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="doneArray"
        class="drag-group-items"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="no-item-message" *ngIf="doneArray?.length === 0">
          <span class="material-symbols-outlined"> add </span>
          <p class="message-primary">No Completed Education</p>
          <p class="message-secondary">Keep working towards your goals</p>
        </div>
        <div *ngFor="let data of doneArray" class="drag-group-item" cdkDrag>
          <app-education-item
            *ngIf="matchesFilters(data)"
            [data]="data"
            [selectedView]="selectedView"
            (pinItem)="onPinToggle($event)"
          >
          </app-education-item>
        </div>
      </div>
    </div>
  </div>
</div>
