mat-card-title {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  align-items: flex-end;
  font-size: 1rem;

  .github-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

mat-card-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  position: relative;

  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}
