<mat-card>
  <mat-card-title>
    <img
      class="github-icon"
      src="/assets/images/stack/github-alternate.svg"
      alt="Github Icon"
    />GitHub</mat-card-title
  >
  <mat-card-content>
    <div class="card-container">
      <app-icon-card
        [icon]="'lightbulb'"
        [iconStyle]="'alternate'"
        [title]="'Public Repos'"
        [value]="data.publicRepos"
      ></app-icon-card>

      <app-icon-card
        [icon]="'school'"
        [iconStyle]="'alternate'"
        [title]="'Private Repos'"
        [value]="data.privateRepos"
      ></app-icon-card>
    </div>
  </mat-card-content>
</mat-card>
