mat-card-title {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;

  .github-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

table {
  width: 100%;

  .link {
    text-decoration: none;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    align-items: center;

    .language-icon {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
    }
  }
}
