<div class="education-header">
  <div class="icon">
    <span class="material-symbols-outlined"> school </span>
  </div>
  <div class="text">
    <h1>Update Education</h1>
    <p>Share what you've been learning</p>
  </div>
</div>
<div mat-dialog-content>
  <form [formGroup]="educationForm">
    <!-- <p>Find item by link</p>
    <div class="find-by-link-grid">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Link to Course</mat-label>
        <input matInput formControlName="link" />
      </mat-form-field>
      <div class="action">
        <button mat-raised-button color="primary" (click)="fetchDetails()"
          >Go</button
        >
      </div>
    </div>

    <div class="input-divider">OR</div> -->

    <!-- <p>Enter details manually</p> -->
    <mat-form-field appearance="outline" class="full-width-grid-item">
      <mat-label>Select Type</mat-label>
      <mat-select #type formControlName="type">
        <mat-option *ngFor="let type of educationTypes" [value]="type">
          <div class="type-option">
            <img
              src="/assets/images/icons/{{ type }}.png"
              class="app-education-type-icon"
            />
            {{ type | titlecase }}
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="selectedType">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input #title matInput formControlName="title" />
        <mat-error *ngIf="educationForm.controls.title.invalid"
          >Title required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>
          {{ selectedType === "book" ? "Author" : "" }}
          {{
            selectedType === "course" || selectedType === "tutorial"
              ? "Instructor"
              : ""
          }}
          {{ selectedType === "degree" ? "Institution" : "" }}
        </mat-label>
        <input #author matInput formControlName="author" />
        <mat-error *ngIf="educationForm.controls.author.invalid">
          {{ selectedType === "book" ? "Author" : "" }}
          {{
            selectedType === "course" || selectedType === "tutorial"
              ? "Instructor"
              : ""
          }}
          {{ selectedType === "degree" ? "Institution" : "" }}
          required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Start date</mat-label>
        <input
          matInput
          [matDatepicker]="startDate"
          formControlName="startDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="startDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>End date</mat-label>
        <input matInput [matDatepicker]="endDate" formControlName="endDate" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="endDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-grid-item">
        <mat-label>Description</mat-label>
        <textarea
          #description
          matInput
          formControlName="description"
          rows="5"
        ></textarea>
      </mat-form-field>

      <app-stack-selector
        #stack
        [data]="data && data.stack"
        class="full-width-grid-item"
      >
      </app-stack-selector>

      <mat-form-field appearance="outline" *ngIf="selectedType === 'tutorial'">
        <mat-label>Github</mat-label>
        <input #github matInput formControlName="github" />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        [ngClass]="{ 'full-width-grid-item': selectedType !== 'tutorial' }"
      >
        <mat-label>Link</mat-label>
        <input #link matInput formControlName="link" />
        <mat-hint
          >Link is required for us to make better recommendations</mat-hint
        >
        <mat-error *ngIf="educationForm.controls.link.invalid"
          >Please add link to tutorial</mat-error
        >
      </mat-form-field>
    </ng-container>
  </form>
</div>
<div mat-dialog-actions class="actions">
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button
    mat-raised-button
    *ngIf="educationForm.controls.type.value"
    color="primary"
    (click)="onSaveClick()"
    cdkFocusInitial
    >Save {{ selectedType | titlecase }}</button
  >
</div>
