<!-- <mat-card> -->
<!-- <h4>Education Breakdown</h4> -->

<div class="overview-container">
  <div class="education-container">
    <app-icon-card
      [icon]="'menu_book'"
      [title]="'Books'"
      [value]="3"
      [trend]="1"
    ></app-icon-card>

    <app-icon-card
      [icon]="'workspace_premium'"
      [title]="'Courses'"
      [value]="2"
      [trend]="2"
    ></app-icon-card>
  </div>
  <div class="chart-container">
    <canvas id="educationOverviewChart"></canvas>
  </div>
</div>
<!-- </mat-card> -->
