<div class="filter-container">
  <div class="row language-select">
    <div>
      <span class="filter-type">Language</span>
      <mat-button-toggle-group
        name="language"
        aria-label="Language"
        [value]="selectedLanguage"
      >
        <mat-button-toggle
          *ngFor="let language of sortedStack"
          #tooltip="matTooltip"
          matTooltipShowDelay="500"
          matTooltip="{{ language.title }}"
          matTooltipPosition="below"
          (click)="filterLanguage(language.name)"
          [value]="language.name"
        >
          <img
            class="app-stack-icon"
            src="/assets/images/stack/{{ language.name }}-original.svg"
            alt="Stack Icon"
          />
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div> More filters v </div>
  </div>
  <div class="row filters">
    <div *ngIf="typeConfig">
      <span class="filter-type">Type</span>
      <mat-button-toggle-group
        name="type"
        aria-label="Type"
        [value]="selectedType"
      >
        <mat-button-toggle
          *ngFor="let type of typeConfig"
          (click)="filterType(type.name)"
          [value]="type.name"
        >
          {{ type.title }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div>
      <span class="filter-type">Status</span>
      <mat-button-toggle-group
        name="status"
        aria-label="Status"
        [value]="selectedStatus"
      >
        <mat-button-toggle
          *ngFor="let status of statusConfig"
          (click)="filterStatus(status.name)"
          [value]="status.name"
        >
          {{ status.title }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div>
      <span class="filter-type">Period</span>
      <mat-button-toggle-group
        name="period"
        aria-label="Period"
        [value]="selectedPeriod"
      >
        <mat-button-toggle
          *ngFor="let time of timeConfig"
          (click)="filterPeriod(time.name)"
          [value]="time.name"
        >
          {{ time.title }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</div>
