mat-card {
  width: 200px;
  padding: 0;

  mat-card-header {
    background-color: lightgrey;
    background-repeat: no-repeat;
    border-radius: 4px 4px 0 0;
    height: 4.5rem;
    display: grid;
    grid-template-columns: repeat(1fr);
    justify-items: center;
    text-align: center;

    .user-sidebar-image {
      margin-top: 3.2rem;
      background-position: center;
    }

    .mat-card-title {
      font-size: 15px;
      margin-bottom: 0.5rem;
    }

    .mat-card-subtitle {
      font-size: 12px;
    }
  }

  mat-card-content {
    margin-top: 3.2rem;

    .sidebar-option {
      font-size: 14px;
      height: 40px;

      mat-icon {
        margin-right: 0.5rem;
      }
    }
  }
}
