.sidebar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100vh;
  width: 13%;
  transition: all 0.5s;

  &.collapsed {
    width: 4%;

    .material-symbols-outlined {
      margin-right: 0 !important;
    }
  }

  .nav-collapse {
    position: absolute;
    top: 6rem;
    right: -1rem;
    background-color: white;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    text-align: center;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: grid;
    justify-content: center;
    transition: all 0.5s;
    opacity: 0;
    cursor: pointer;
    z-index: 100;
  }

  &:hover {
    .nav-collapse {
      opacity: 1;
    }
  }

  .sidebar-content {
    width: 100%;
    height: 100%;
    display: grid;
    align-content: space-around;
    overflow: hidden;

    .sidebar-content-1 {
      width: 100%;
      text-align: center;
      overflow: hidden;

      .menu-brand {
        height: 2rem;
      }
    }

    .sidebar-option {
      font-size: 1rem;
      color: #5f6368;

      &.is-active {
        color: black;
        background-color: rgba(0, 0, 0, 0.04);
      }

      .material-symbols-outlined {
        margin-right: 0.5rem;
      }
    }
  }
}
