@import "src/styles/app-vars.scss";

.profile {
  height: 95vh;

  @media screen and (min-width: $breakpoint-tablet-large) {
    height: 100vh;
  }

  .desktop-container {
    display: none;
  }

  .mobile-container {
    display: block;
    overflow: auto;
  }

  @media screen and (min-width: $breakpoint-tablet-large) {
    .desktop-container {
      display: block;
    }
    .mobile-container {
      display: none;
    }
  }

  .profile-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem 0 1rem 1rem;

    @media screen and (min-width: $breakpoint-tablet-large) {
      grid-template-columns: 2fr 7fr;
    }

    @media screen and (min-width: $breakpoint-desktop-large) {
      grid-template-columns: 1fr 5fr;
    }

    @media screen and (min-width: $breakpoint-desktop-extra-large) {
      grid-template-columns: 1fr 6fr;
    }

    .personal-cards {
      display: none;

      @media screen and (min-width: $breakpoint-tablet-large) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        align-content: flex-start;
      }
    }
  }
}
