.profile {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  .scroll {
    overflow: auto;
    display: grid;
    align-items: flex-start;

    .profile-content {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      row-gap: 1rem;
      column-gap: 2rem;
      margin: 1rem;

      &__edit {
        grid-column: 1 / -1;
        text-align: end;
      }

      &__section-1 {
        grid-column: 1 / 3;
        font-size: 0.9rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        align-content: flex-start;

        .section-header {
          font-size: 0.9rem;
          font-weight: 500;
          letter-spacing: 0.05rem;
          margin-bottom: 0.5rem;
          text-transform: uppercase;
        }

        .label {
          font-size: 0.8rem;
          font-weight: 400;
        }

        .value {
          font-weight: 500;
        }

        .social-link {
          a {
            text-decoration: none;
          }
        }
      }

      &__section-2 {
        grid-column: 3 / 8;
        display: grid;
        gap: 1rem;
      }

      &__section-3 {
        grid-column: 8 / -1;
        display: grid;
        gap: 1rem;
      }
    }
  }
}
