// mat-card {
//   width: 100%;

//   &-title {
//     font-size: 1rem;
//   }

.overview-container {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 0.5rem;
  position: relative;

  .chart-container {
    width: 100%;
  }

  .education-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}
// }
