mat-card {
  margin-bottom: 0.5rem;
  border-top: 3px solid gold;
  padding: 1rem 0 0.5rem;
  cursor: pointer;

  mat-card-header {
    display: flex;
    justify-content: space-between;

    mat-card-title {
      font-size: 1rem;
    }

    mat-card-subtitle {
      font-size: 1rem;
      margin-bottom: 0;
    }

    .education-stack {
      text-align: end;
      padding-right: 1rem;
    }
  }

  mat-card-content {
    padding: 0 1rem;

    .mat-card-subtitle {
      margin-bottom: 0;
    }

    .content {
      padding-top: 1rem;

      .timeline_title,
      .description_title {
        font-weight: 500;
      }

      .description {
        white-space: pre-line;
      }

      .actions {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: end;
        gap: 0.5rem;
      }
    }

    mat-chip-list {
      display: grid;
      justify-content: end;
      margin-right: 0.5rem;
      gap: 0.2rem;

      mat-chip {
        gap: 0.1rem;

        .material-symbols-outlined {
          font-size: 1.3rem;
        }
      }

      .mat-standard-chip {
        min-height: 24px;
        font-size: 0.8rem;
      }
    }
  }
}
