.overview-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;

  .overview-section {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    padding: 0.5rem 1rem;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 4px;

    .header {
      .material-symbols-outlined {
        background-color: rgb(243, 243, 243);
        border-radius: 4px;
        padding: 0.5rem;
      }
    }

    .content {
      &-body {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;

        .subtitle {
          font-size: 1rem;
        }

        .subtitle-value {
          display: grid;
          grid-template-columns: 1fr auto;
          align-content: center;
          font-weight: 500;
          font-size: 1.1rem;
          margin-bottom: 0.5rem;

          .trend {
            display: grid;
            grid-template-columns: auto auto;
            align-content: center;
            color: green;

            &.down {
              color: red;
            }
          }
        }
      }
    }
  }
}
