<mat-card *ngIf="user" class="user-card">
  <div
    class="header"
    [ngStyle]="{
      backgroundImage: user.coverImage ? 'url(' + user.coverImage + ')' : '',
      backgroundSize: 'cover !important'
    }"
  >
  </div>
  <div class="user-details">
    <img
      class="user-image"
      [src]="
        user.profileImage
          ? user.profileImage
          : '/assets/images/user-fallback.png'
      "
      alt="User Image"
    />
    <div class="user-name">{{ user.name }}</div>
    <div class="user-role">{{ user.role }}</div>
  </div>

  <app-dashboard-user-overview [data]="data"></app-dashboard-user-overview>
</mat-card>
