<mat-card *ngIf="user" class="user-card">
  <div
    class="header"
    [ngStyle]="{
      backgroundImage: user.coverImage ? 'url(' + user.coverImage + ')' : '',
      backgroundSize: 'cover !important'
    }"
  >
  </div>
  <div class="user-details">
    <img
      class="user-image"
      [src]="
        user.profileImage
          ? user.profileImage
          : '/assets/images/user-fallback.png'
      "
      alt="User Image"
    />
    <div class="user-name">{{ user.name }}</div>
    <div class="user-role">{{ user.role }}</div>
  </div>

  <div class="user-overview-container">
    <app-icon-card
      [icon]="'school'"
      [title]="'Education'"
      [value]="12"
      [trend]="1"
    ></app-icon-card>

    <app-icon-card
      [icon]="'code'"
      [title]="'Projects'"
      [value]="6"
      [trend]="2"
    ></app-icon-card>

    <app-icon-card
      [icon]="'timer'"
      [title]="'Experience'"
      [value]="'3 years, 19 days'"
    ></app-icon-card>
  </div>
</mat-card>
