.user-card {
  padding: 0.5rem;
  position: relative;

  .header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: calc(100% - 6rem);
    background-repeat: no-repeat;
    border-radius: 4px 4px 0 0;
    background-size: cover;
  }

  .user-details {
    text-align: center;
    padding-top: 3.2rem;
    position: relative;
    z-index: 100;

    .user-image {
      height: 5rem;
      width: 5rem;
      border: 3px solid white;
      border-radius: 50%;
      object-fit: stretch;
    }

    .user-name {
      font-size: 1.1rem;
      font-weight: 600;
      margin: 1rem auto 0.5;
    }

    .user-role {
      font-size: 12px;
    }
  }

  .user-overview-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .bio-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 1rem;
    margin: 1rem auto;

    &__title {
      font-weight: 500;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    .social-image {
      height: 1.5rem;
    }
  }
}
