.user-card {
  padding: 0;
  position: relative;

  .header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: calc(100% - 7rem);
    background-repeat: no-repeat;
    border-radius: 4px 4px 0 0;
    background-size: cover;
  }

  .user-details {
    text-align: center;
    padding-top: 3.6rem;
    position: relative;
    z-index: 100;

    .user-image {
      height: 6rem;
      width: 6rem;
      border: 4px solid white;
      border-radius: 50%;
      object-fit: stretch;
    }

    .user-name {
      font-size: 1.1rem;
      font-weight: 600;
      margin: 1rem auto 0.5;
    }

    .user-role {
      font-size: 12px;
    }
  }
}
