@import "src/styles/app-vars.scss";

.file-label {
  text-align: center;
}

.file-input {
  display: none;
}

.center {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  .user-image {
    height: 6rem;
    width: 18rem;
    object-fit: cover;
    background-size: cover;
    border-radius: 4px 4px 0 0;
    background-color: lightgrey;

    @media screen and (min-width: $breakpoint-tablet-large) {
      height: 8rem;
      width: 26rem;
    }
  }

  .file-upload {
    position: relative;
    top: -1.5rem;
    right: -8rem;

    @media screen and (min-width: $breakpoint-tablet-large) {
      top: -1.5rem;
      right: -11rem;
    }
  }
}
