<!-- <p class="file-label">{{ "FORMS.PROFILE_IMAGE" | translate }}</p> -->

<input
  type="file"
  class="file-input"
  (change)="onFileSelected($event)"
  #fileUpload
/>

<div class="center">
  <img *ngIf="image" class="user-image" [src]="image" alt="Cover Image" />
  <!-- FALLBACK COVER IMAGE -->
  <div *ngIf="!image" class="user-image"></div>

  <div class="file-upload">
    <button mat-mini-fab color="primary" (click)="fileUpload.click()">
      <span class="material-symbols-outlined icon">edit</span>
    </button>
  </div>
</div>
