<mat-card>
  <h2 class="github-header">
    <img
      class="github-icon"
      src="/assets/images/stack/github-alternate.svg"
      alt="Github Icon"
    />
    {{ "SETTINGS.GITHUB.T" | translate }}</h2
  >
  <mat-card-content>
    <div class="github-user" *ngIf="github?.id">
      <div>
        <h4
          >{{ "SETTINGS.GITHUB.ACCOUNT" | translate
          }}<b>{{ github.username }}</b></h4
        >
        <p>{{ "SETTINGS.GITHUB.MESSAGE" | translate }}</p>
      </div>

      <div class="remove-github">
        <button
          mat-raised-button
          color="warn"
          (click)="removeGithubAccount()"
          >{{ "FORMS.REMOVE.GITHUB" | translate }}</button
        >
      </div>
    </div>

    <div class="github-link" *ngIf="!github?.id">
      <p>{{ "SETTINGS.GITHUB.LINK_MESSAGE" | translate }}</p>

      <button
        mat-raised-button
        color="primary"
        [disabled]="!githubAuthUrl"
        (click)="linkGithubAccount()"
        >{{ "FORMS.UPDATE.GITHUB" | translate }}</button
      >
    </div>
  </mat-card-content>
</mat-card>
