<mat-form-field appearance="outline" class="full-width">
  <mat-label>{{ "FORMS.STACK" | translate }}</mat-label>
  <mat-chip-list #chipList aria-label="Stack selection" required>
    <mat-chip
      *ngFor="let item of selectedStack"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="removeStackItem(item)"
    >
      <div class="options">
        <img
          loading="lazy"
          src="/assets/images/stack/{{ item.name }}-original.svg"
        />
        <span>{{ item.title }}</span>
      </div>
      <mat-icon matChipRemove *ngIf="removable">{{
        "ACTIONS.CANCEL" | translate
      }}</mat-icon>
    </mat-chip>
    <input
      [placeholder]="'FORMS.PLACEHOLDER.STACK' | translate"
      #stackInput
      [formControl]="stackCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      matChipInputAddOnBlur="false"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addStackItem($event)"
      required
    />
  </mat-chip-list>
  <mat-error>{{ "FORMS.REQUIRED.STACK" | translate }}</mat-error>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="selectedStackItem($event)"
    required
  >
    <mat-option *ngFor="let item of filteredStackItems | async" [value]="item">
      <div class="options">
        <img
          loading="lazy"
          src="/assets/images/stack/{{ item.name }}-original.svg"
        />
        <span>{{ item.title }}</span>
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
