<mat-form-field appearance="outline" class="full-width">
  <mat-label
    >{{ "FORMS.STACK" | translate }} {{ type !== "book" ? "*" : "" }}</mat-label
  >
  <mat-chip-list #chipList aria-label="Stack selection">
    <mat-chip
      *ngFor="let item of selectedStack"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="removeStackItem(item)"
    >
      <div class="options">
        <img
          loading="lazy"
          src="/assets/images/stack/{{ item.name }}-original.svg"
        />
        <span>{{ item.title }}</span>
      </div>
      <span
        class="material-symbols-outlined chip-remove"
        matChipRemove
        *ngIf="removable"
        >clear</span
      >
    </mat-chip>
    <input
      [placeholder]="'FORMS.PLACEHOLDER.STACK' | translate"
      matInput
      #stackInput
      [formControl]="stackCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      matChipInputAddOnBlur="false"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addStackItem($event)"
      (blur)="getRequiredOnBlur()"
    />
  </mat-chip-list>
  <mat-error *ngIf="chipList.errorState">{{
    "FORMS.REQUIRED.STACK" | translate
  }}</mat-error>

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="selectedStackItem($event)"
  >
    <mat-option *ngFor="let item of filteredStackItems | async" [value]="item">
      <div class="options">
        <img
          loading="lazy"
          src="/assets/images/stack/{{ item.name }}-original.svg"
        />
        <span>{{ item.title }}</span>
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
