<div class="content">
  <div class="header">
    <div class="title">
      <h2>{{ data.title }}</h2>
    </div>

    <div class="actions">
      <button mat-button [matMenuTriggerFor]="menu"
        ><mat-icon>more_horiz</mat-icon></button
      >

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editItem()">Edit</button>
        <button mat-menu-item (click)="deleteItem()">Delete</button>
      </mat-menu>
    </div>
  </div>

  <div class="body">
    <div class="column">
      <div class="row">
        <div class="grid-item__title">Timeline</div>
        <p>
          {{ data.startDate | date }} - {{ (data.endDate | date) || "Present" }}
        </p>
      </div>

      <div class="row">
        <div class="grid-item__title">Stack</div>
        <div class="education-stack">
          <img
            *ngFor="let tech of data.stack"
            class="app-stack-icon__large"
            matTooltip="{{ tech.title }}"
            src="/assets/images/stack/{{ tech.name }}-original.svg"
          />
        </div>
      </div>
    </div>

    <div class="column description-column">
      <div class="row">
        <div class="grid-item__title">Description</div>
        <p class="description-text">{{ data.description }}</p>
      </div>

      <div class="body-actions">
        <a *ngIf="data.github" target="_blank" href="{{ data.github }}">
          <button mat-raised-button color="black">See Repo</button>
        </a>
        <a *ngIf="data.link" target="_blank" href="{{ data.link }}">
          <button mat-raised-button cdkFocusInitial color="primary"
            >See Live Project</button
          >
        </a>
        <a>
          <button mat-raised-button color="default" (click)="onCancel()"
            >Close</button
          >
        </a>
      </div>
    </div>
  </div>
</div>
