<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>{{ "FORMS.USERNAME" | translate }}</mat-label>
    <input
      matInput
      formControlName="usernameCtrl"
      [errorStateMatcher]="matcher"
    />
    <mat-spinner
      matSuffix
      class="validation-spinner"
      [diameter]="20"
      *ngIf="form.controls.usernameCtrl?.pending"
    ></mat-spinner>

    <span
      matSuffix
      class="material-symbols-outlined error"
      *ngIf="
        !form.controls.usernameCtrl?.pristine &&
        !form.controls.usernameCtrl?.pending &&
        form.controls.usernameCtrl?.hasError('notUnique')
      "
    >
      cancel
    </span>

    <mat-error
      *ngIf="
        !form.controls.usernameCtrl?.pristine &&
        !form.controls.usernameCtrl?.pending &&
        form.controls.usernameCtrl?.hasError('notUnique')
      "
      >{{ "FORMS.ERROR.UNIQUE_USERNAME" | translate }}</mat-error
    >

    <span
      matSuffix
      class="material-symbols-outlined success"
      *ngIf="
        !form.controls.usernameCtrl?.pristine &&
        !form.controls.usernameCtrl?.pending &&
        !form.controls.usernameCtrl?.errors
      "
    >
      check_circle
    </span>

    <mat-error *ngIf="form.controls.usernameCtrl?.hasError('required')">{{
      "FORMS.REQUIRED.USERNAME" | translate
    }}</mat-error>
    <mat-error *ngIf="form.controls.usernameCtrl?.hasError('pattern')">{{
      "FORMS.ERROR.USERNAME_PATTERN" | translate
    }}</mat-error>
  </mat-form-field>
</form>
