/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  margin: 0;
}

app-root {
  width: 100%;
  position: absolute;
}

.mat-option {
  font-size: 14px;
}

.full-width {
  width: 100%;
}

.full-width-grid-item {
  grid-column: 1 / -1;
}

.app-roadmap-type-icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.app-roadmap-type-icon__large {
  height: 1.5rem;
  width: 1.5rem;
}

.app-card-stack-icon {
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0 0.1rem;
}

.app-card-stack-icon__large {
  height: 2rem;
  width: 2rem;
  margin: 0 0.3rem;
}
