@import "./styles/app-drop-list.scss";
@import "./styles/app-mixins.scss";
@import "./styles/app-vars.scss";
@import "./styles/main.scss";
@import "@angular/material/theming";
@include mat-core();

$light-app-theme: mat-light-theme(
  (
    color: (
      primary: mat-palette($mat-indigo),
      accent: mat-palette($mat-pink, A200, A100, A400),
      warn: mat-palette($mat-red),
    ),
  )
);

$dark-app-theme: mat-dark-theme(
  (
    color: (
      primary: mat-palette($mat-cyan),
      accent: mat-palette($mat-blue-gray, A200, A100, A400),
      warn: mat-palette($mat-amber),
    ),
  )
);

@mixin custom-light-theme() {
  @include light-theme--mixin--main;
  @include light-theme--mixin--sidebar;
  @include light-theme--mixin--user-profile;
}

@mixin custom-dark-theme() {
  @include dark-theme--mixin--main;
  @include dark-theme--mixin--sidebar;
  @include dark-theme--mixin--user-profile;
}

@include angular-material-theme($light-app-theme);
@include custom-light-theme();

.dark-theme {
  @include angular-material-color($dark-app-theme);
  @include custom-dark-theme();
}
