<app-loading *ngIf="!projects"></app-loading>

<div class="projects drag-group" *ngIf="projects">
  <div class="drag-group-header">
    <app-drop-list-filters
      *ngIf="projects"
      [parentId]="projects._id"
      [selectedView]="selectedView"
      [typeConfig]="typeConfig"
      [languageConfig]="languageFilterData"
      (onFilterLanguage)="filterByLanguage($event)"
      (onFilterType)="filterByType($event)"
      (onUpdateView)="updateView($event)"
      (onUpdate)="createProject($event)"
    >
    </app-drop-list-filters>

    <div class="drag-group-titles">
      <h2>{{ "GENERAL.STATUS.TO_DO" | translate }}</h2>
      <h2>{{ "GENERAL.STATUS.IN_PROGRESS" | translate }}</h2>
      <h2>{{ "GENERAL.STATUS.DONE" | translate }}</h2>
    </div>
  </div>

  <ng-scrollbar>
    <div scrollViewport cdkScrollable>
      <div class="scroll">
        <div cdkDropListGroup class="drag-group-container">
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            class="drag-group-items"
            id="todo"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="no-item-message"
              *ngIf="projects && todo && !todo.length"
            >
              <span class="material-symbols-outlined"> add </span>
              <p class="message-primary">{{
                "PROJECTS.EMPTY_LIST.TO_DO_HEADER" | translate
              }}</p>
              <p class="message-secondary">{{
                "PROJECTS.EMPTY_LIST.TO_DO_MESSAGE" | translate
              }}</p>
            </div>
            <div *ngFor="let data of todo" class="drag-group-item" cdkDrag>
              <app-project
                *ngIf="matchesFilters(data)"
                [data]="data"
                [selectedView]="selectedView"
                (pinItem)="onPinToggle($event, todo)"
              >
              </app-project>
            </div>
          </div>

          <div
            cdkDropList
            #inProgressList="cdkDropList"
            [cdkDropListData]="inProgress"
            class="drag-group-items"
            id="inProgress"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="no-item-message"
              *ngIf="projects && inProgress && !inProgress.length"
            >
              <span class="material-symbols-outlined"> add </span>
              <p class="message-primary">{{
                "PROJECTS.EMPTY_LIST.IN_PROGRESS_HEADER" | translate
              }}</p>
              <p class="message-secondary">{{
                "PROJECTS.EMPTY_LIST.IN_PROGRESS_MESSAGE" | translate
              }}</p>
            </div>
            <div
              *ngFor="let data of inProgress"
              class="drag-group-item"
              cdkDrag
            >
              <app-project
                *ngIf="matchesFilters(data)"
                [data]="data"
                [selectedView]="selectedView"
                (pinItem)="onPinToggle($event, inProgress)"
              >
              </app-project>
            </div>
          </div>

          <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            class="drag-group-items"
            id="done"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="no-item-message"
              *ngIf="projects && done && !done.length"
            >
              <span class="material-symbols-outlined"> add </span>
              <p class="message-primary">{{
                "PROJECTS.EMPTY_LIST.DONE_HEADER" | translate
              }}</p>
              <p class="message-secondary">{{
                "PROJECTS.EMPTY_LIST.DONE_MESSAGE" | translate
              }}</p>
            </div>
            <div *ngFor="let data of done" class="drag-group-item" cdkDrag>
              <app-project
                *ngIf="matchesFilters(data)"
                [data]="data"
                [selectedView]="selectedView"
                (pinItem)="onPinToggle($event, inProgress)"
              >
              </app-project>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-scrollbar>
</div>
