<div class="projects drag-group">
  <div class="drag-group-header">
    <app-drop-list-filters
      *ngIf="projects"
      [parentId]="projects._id"
      [languageConfig]="languageFilterData"
      (onFilterLanguage)="filterByLanguage($event)"
      (onUpdateView)="updateView($event)"
      (onUpdate)="createProject($event)"
    >
    </app-drop-list-filters>

    <div class="drag-group-titles">
      <h2>To Do</h2>
      <h2>In Progress</h2>
      <h2>Done</h2>
    </div>
  </div>

  <div class="scroll" cdkScrollable>
    <div cdkDropListGroup class="drag-group-container">
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todoArray"
        class="drag-group-items"
        (cdkDropListDropped)="drop($event)"
      >
        <div *ngFor="let data of todoArray">
          <app-project
            *ngIf="matchesFilters(data)"
            [data]="data"
            [selectedView]="selectedView"
            cdkDrag
          >
          </app-project>
        </div>
      </div>

      <div
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgressArray"
        class="drag-group-items"
        (cdkDropListDropped)="drop($event)"
      >
        <div *ngFor="let data of inProgressArray">
          <app-project
            *ngIf="matchesFilters(data)"
            [data]="data"
            [selectedView]="selectedView"
            cdkDrag
          >
          </app-project>
        </div>
      </div>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="doneArray"
        class="drag-group-items"
        (cdkDropListDropped)="drop($event)"
      >
        <div *ngFor="let data of doneArray">
          <app-project
            *ngIf="matchesFilters(data)"
            [data]="data"
            [selectedView]="selectedView"
            cdkDrag
          >
          </app-project>
        </div>
      </div>
    </div>
  </div>
</div>
