.settings {
  height: 100vh;
  display: grid;

  .scroll {
    overflow: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: flex-start;
    gap: 1rem;
    margin: 1rem;

    .form-grid {
      display: grid;
      grid-template-columns: 1fr;
    }

    .update-username-container {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 1rem;
      align-items: center;

      .update-username-button {
        margin-bottom: 1.34375em;
      }
    }

    .update-password-header {
      margin: 1rem 0;

      .update-password-text {
        margin-right: 1rem;
      }
    }

    .actions {
      display: flex;
      column-gap: 0.5rem;
      justify-content: end;
    }
  }
}
