@import "src/styles/app-vars.scss";

.settings {
  height: 95vh;

  @media screen and (min-width: $breakpoint-tablet-large) {
    height: 100vh;
  }

  .scroll {
    overflow: auto;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr;
    padding: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;

    @media screen and (min-width: $breakpoint-tablet-large) {
      grid-template-columns: 2fr 1fr;
      margin-bottom: 0;
    }

    .card-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
    }

    .form-grid {
      display: grid;
      grid-template-columns: 1fr;

      &.name-grid {
        grid-template-columns: 1fr;
        justify-content: end;

        @media screen and (min-width: $breakpoint-tablet-large) {
          grid-template-columns: 1fr 1fr;
          gap: 1rem;
        }
      }
    }

    .update-details-container {
      display: grid;
      align-items: center;

      @media screen and (min-width: $breakpoint-mobile) {
        grid-template-columns: 1fr;
      }

      @media screen and (min-width: $breakpoint-tablet-large) {
        grid-template-columns: 1fr 20%;
        gap: 1rem;
      }

      .actions {
        display: flex;
        column-gap: 0.5rem;
        justify-content: flex-end;
        align-items: center;
      }

      .update-details-button {
        margin-bottom: 1.34375em;
        padding: 0 3rem;
        justify-self: center;
      }
    }

    .update-password-header {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      margin: 1rem 0;

      @media screen and (min-width: $breakpoint-tablet-large) {
        justify-content: flex-start;
      }

      .update-password-text {
        margin-right: 1rem;
      }
    }

    .actions {
      display: flex;
      column-gap: 0.5rem;
      justify-content: flex-end;
    }
  }
}
