<div class="settings">
  <mat-card>
    <mat-card-header><h1>Update Settings</h1></mat-card-header>
    <mat-card-content>
      <form class="form-grid" [formGroup]="settingsForm">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            cdkFocusInitial
            #username
            matInput
            formControlName="usernameCtrl"
          />
          <mat-error *ngIf="settingsForm.controls.usernameCtrl.invalid"
            >Username required</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input #email matInput formControlName="emailCtrl" />
          <mat-error *ngIf="settingsForm.controls.emailCtrl.invalid"
            >Email required</mat-error
          >
        </mat-form-field>

        <div class="update-password-container">
          <span class="update-password-text">Update Password</span>
          <button
            mat-raised-button
            color="primary"
            class="update-password-button"
            >Update Password</button
          >
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Theme</mat-label>
          <mat-select
            formControlName="themeCtrl"
            (selectionChange)="updateTheme($event.value)"
          >
            <mat-option value="{{ LIGHT_THEME }}">Light</mat-option>
            <mat-option value="{{ DARK_THEME }}">Dark</mat-option>
          </mat-select>
        </mat-form-field>

        <h4>Notifications</h4>
        <mat-checkbox formControlName="notificationsCtrl" color="primary"
          >Receive notifications by email</mat-checkbox
        >
      </form>
      <div mat-dialog-actions class="actions">
        <button
          mat-raised-button
          color="primary"
          (click)="onSaveClick()"
          cdkFocusInitial
          >Save</button
        >
      </div>
    </mat-card-content>
  </mat-card>
</div>
