.settings {
  margin: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;

  .form-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .update-password-container {
    margin-bottom: 1rem;

    .update-password-text {
      margin-right: 1rem;
    }
  }

  .actions {
    text-align: end;
  }
}
