<div class="settings">
  <mat-card>
    <h1>{{ "SETTINGS.T" | translate }}</h1>
    <mat-card-content>
      <form class="form-grid" [formGroup]="settingsForm">
        <mat-form-field appearance="outline">
          <mat-label>{{ "FORMS.USERNAME" | translate }}</mat-label>
          <input
            cdkFocusInitial
            #username
            matInput
            formControlName="usernameCtrl"
          />
          <mat-error *ngIf="settingsForm.controls.usernameCtrl.invalid">{{
            "FORMS.REQUIRED.USERNAME" | translate
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ "FORMS.EMAIL" | translate }}</mat-label>
          <input #email matInput formControlName="emailCtrl" />
          <mat-error *ngIf="settingsForm.controls.emailCtrl.invalid">{{
            "FORMS.REQUIRED.EMAIL" | translate
          }}</mat-error>
        </mat-form-field>

        <div class="update-password-container">
          <span class="update-password-text">{{
            "FORMS.UPDATE.PASSWORD" | translate
          }}</span>
          <button
            mat-raised-button
            color="primary"
            class="update-password-button"
            >{{ "FORMS.UPDATE.PASSWORD" | translate }}</button
          >
        </div>

        <mat-form-field appearance="outline">
          <mat-label>{{ "FORMS.THEME.T" | translate }}</mat-label>
          <mat-select
            formControlName="themeCtrl"
            (selectionChange)="updateTheme($event.value)"
          >
            <mat-option value="{{ LIGHT_THEME }}">{{
              "FORMS.THEME.LIGHT" | translate
            }}</mat-option>
            <mat-option value="{{ DARK_THEME }}">{{
              "FORMS.THEME.DARK" | translate
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <h4>{{ "FORMS.NOTIFICATIONS.T" | translate }}</h4>
        <mat-checkbox formControlName="notificationsCtrl" color="primary">{{
          "FORMS.NOTIFICATIONS.EMAIL" | translate
        }}</mat-checkbox>
      </form>
      <div mat-dialog-actions class="actions">
        <button
          mat-raised-button
          color="primary"
          (click)="onSaveClick()"
          cdkFocusInitial
          >{{ "ACTIONS.SAVE" | translate }}</button
        >
      </div>
    </mat-card-content>
  </mat-card>
</div>
