.roadmap {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;

  app-roadmap-filters {
    padding: 1rem;
  }

  .scroll {
    overflow: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 3rem;

    .user-overview-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1rem;
    }

    .section-title {
      font-size: 1.2rem;
      font-weight: 500;
    }

    .grid-1fr-1fr {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 1rem;
    }
  }
}
