<div class="roadmap-container">
  <div class="roadmap-div">
    <app-roadmap-filters
      (filterRoadmap)="filterRoadmap($event)">
    </app-roadmap-filters>
    <!-- <app-roadmap-update></app-roadmap-update> -->

      <mat-accordion
        class="roadmap-items" 
        *ngFor="let data of roadmapItemArray"
        multi>
        <app-roadmap-item
          *ngIf="selectedFilter === null || selectedFilter === data.type"
          [data]="data">
        </app-roadmap-item>
      </mat-accordion>
  </div>

  <div class="roadmap-div">
    <app-roadmap-statistics 
      [data]="roadmap">
    </app-roadmap-statistics>
  </div>
</div>
