.roadmap {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  gap: 1rem;

  .header {
    margin: 1rem 1rem 0;

    .group-header {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-top: 1.5rem;
      gap: 1rem;

      h2 {
        margin: 0;
      }
    }
  }

  .scroll {
    overflow: auto;
    padding: 0 1rem 1rem 1rem;

    .roadmap-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      vertical-align: top;

      .roadmap-items {
        border: solid 1px #ccc;
        min-height: 60px;
        border-radius: 4px;
        display: block;
        padding-bottom: 1rem;

        .roadmap-item {
          cursor: grab;
          margin-bottom: 0.5rem;

          &.recommendation {
            cursor: initial;
          }
        }

        .roadmap-item:last-child {
          margin-bottom: 0;
        }

        .cdk-drag-preview {
          box-sizing: border-box;
          border-radius: 4px;
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
        }

        .cdk-drag-placeholder {
          opacity: 0;
        }

        .cdk-drag-animating {
          transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }

        .cdk-drop-list-dragging .roadmap-item:not(.cdk-drag-placeholder) {
          transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }
  }
}
