@import "src/styles/app-vars.scss";

.roadmap {
  height: 100vh;
  max-width: 100vw;
  // display: grid;
  // grid-template-rows: auto 1fr;

  // app-roadmap-filters {
  //   padding: 1rem;
  // }

  .mobile-container {
    padding: 1rem;
  }

  .scroll {
    overflow: auto;
    padding: 1rem 1.2rem 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 1rem;
  }

  .grid-container {
    display: grid;
    align-content: start;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media screen and (min-width: $breakpoint-tablet-large) {
      grid-template-columns: 3fr 2fr;
    }

    .user-overview-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1rem;
    }

    .section-title {
      font-size: 1.2rem;
      font-weight: 500;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      align-content: start;
    }
  }
}
