<div class="roadmap-container">
  <div class="roadmap-div">

    <mat-card>
      <mat-card-content>
        <form class="roadmap-form">
          <mat-form-field>
            <input matInput placeholder="What are you currently working on?" value="">
          </mat-form-field>
        </form>
        <mat-card-actions>
          <button mat-raised-button color="primary">Add</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <div class="roadmap-items">
      <app-roadmap-item
        *ngFor="let data of roadmapData"
        [data]="data"
        ></app-roadmap-item>
    </div>

  </div>

  <div class="roadmap-div">
    <app-roadmap-statistics></app-roadmap-statistics>
  </div>
</div>
