<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>{{ "FORMS.EMAIL" | translate }}</mat-label>
    <input matInput formControlName="emailCtrl" [errorStateMatcher]="matcher" />
    <mat-spinner
      matSuffix
      class="validation-spinner"
      [diameter]="20"
      *ngIf="form.controls.emailCtrl?.pending"
    ></mat-spinner>

    <span
      matSuffix
      class="material-symbols-outlined error"
      *ngIf="
        !form.controls.emailCtrl?.pristine &&
        !form.controls.emailCtrl?.pending &&
        form.controls.emailCtrl?.hasError('notUnique')
      "
    >
      cancel
    </span>

    <mat-error
      *ngIf="
        !form.controls.emailCtrl?.pristine &&
        !form.controls.emailCtrl?.pending &&
        form.controls.emailCtrl?.hasError('notUnique')
      "
      >{{ "FORMS.ERROR.UNIQUE_EMAIL" | translate }}</mat-error
    >

    <span
      matSuffix
      class="material-symbols-outlined success"
      *ngIf="
        !form.controls.emailCtrl?.pristine &&
        !form.controls.emailCtrl?.pending &&
        !form.controls.emailCtrl?.errors
      "
    >
      check_circle
    </span>

    <mat-error *ngIf="form.controls.emailCtrl?.hasError('email')">{{
      "FORMS.ERROR.EMAIL_PATTERN" | translate
    }}</mat-error>

    <mat-error *ngIf="form.controls.emailCtrl?.hasError('required')">{{
      "FORMS.REQUIRED.EMAIL" | translate
    }}</mat-error>
  </mat-form-field>
</form>
