<form [formGroup]="courseForm">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input #title matInput formControlName="title" />
    <mat-error *ngIf="courseForm.controls.title.invalid"
      >Title required</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Instructor</mat-label>
    <input #instructor matInput formControlName="instructor" />
    <mat-error *ngIf="courseForm.controls.instructor.invalid"
      >Instructor required</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Start date</mat-label>
    <input matInput [matDatepicker]="startDate" formControlName="startDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>End date</mat-label>
    <input matInput [matDatepicker]="endDate" formControlName="endDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width-grid-item">
    <mat-label>Description</mat-label>
    <textarea #description matInput formControlName="description"></textarea>
  </mat-form-field>

  <app-stack-selector
    #stack
    [data]="data && data.stack"
    class="full-width-grid-item"
  >
  </app-stack-selector>

  <mat-form-field appearance="outline">
    <mat-label>Link</mat-label>
    <input #link matInput formControlName="link" />
    <mat-error *ngIf="courseForm.controls.link.invalid"
      >Link is required to verify course</mat-error
    >
  </mat-form-field>
</form>
