.roadmap-overview {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  gap: 1rem;

  .card {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    padding: 1rem;
    align-items: center;

    &.user-card {
      grid-template-columns: auto 1fr auto;
    }

    .icon {
      .material-symbols-outlined {
        background-color: #00bcd4;
        color: white;
        border-radius: 4px;
        padding: 0.5rem;
      }
    }

    .user-image {
      height: 3rem;
      width: 3rem;
      border: 3px solid white;
      border-radius: 50%;
      object-fit: cover;
    }

    .content {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;

      .title {
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.7) !important;
      }

      .value {
        display: grid;
        grid-template-columns: 1fr auto;
        align-content: center;
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: 0.2rem;
      }
    }
  }
}
