<div class="roadmap-overview">
  <mat-card class="card user-card">
    <img
      class="user-image"
      [src]="
        user.profileImage
          ? user.profileImage
          : '/assets/images/user-fallback.png'
      "
      alt="User Image"
    />
    <div class="content">
      <p class="value">{{ user.firstName }} {{ user.lastName }}</p>
      <p class="title">{{ user.path.name | translate }} </p>
    </div>
    <button mat-raised-button color="primary" (click)="editRoadmap()">{{
      "ACTIONS.EDIT" | translate
    }}</button>
  </mat-card>

  <mat-card class="card">
    <div class="roadmap-icon">
      <span class="material-symbols-outlined alternate"> data_object </span>
    </div>
    <div class="content">
      <p class="value"> {{ languages }}</p>
      <p class="title">{{ "ROADMAP.LANGUAGES" | translate }}</p>
    </div>
  </mat-card>

  <mat-card class="card">
    <div class="roadmap-icon">
      <span class="material-symbols-outlined alternate"> hourglass</span>
    </div>
    <div class="content">
      <p class="value" *ngIf="time.years > 1">
        {{
          "ROADMAP.DATE_YEARS"
            | translate : { years: time.years, days: time.days }
        }}
      </p>
      <p class="value" *ngIf="time.years === 1">
        {{
          "ROADMAP.DATE_YEAR"
            | translate : { years: time.years, days: time.days }
        }}
      </p>
      <p class="value" *ngIf="time.years === 0">
        {{ "ROADMAP.DATE_DAYS" | translate : { days: time.days } }}
      </p>
      <p class="title">{{ "ROADMAP.TIME" | translate }}</p>
    </div>
  </mat-card>
</div>
