<mat-card *ngIf="user" class="user-card">
  <div
    class="header"
    [ngStyle]="{
      backgroundImage: user.coverImage ? 'url(' + user.coverImage + ')' : '',
      backgroundSize: 'cover !important'
    }"
  >
  </div>
  <div class="user-details">
    <img
      class="user-image"
      [src]="
        user.profileImage
          ? user.profileImage
          : '/assets/images/user-fallback.png'
      "
      alt="User Image"
    />
    <div class="user-name">{{ user.name }}</div>
    <div class="user-role">{{ user.role | translate }}</div>
  </div>

  <div class="bio-grid bio-grid__social">
    <div class="social-link github-link" *ngIf="user.links.github">
      <a href="{{ user.links.github }}" target="_blank">
        <img
          class="social-image"
          src="/assets/images/stack/github-original.svg"
          alt="Github Icon"
        />
      </a>
    </div>
    <div class="social-link twitter-link" *ngIf="user.links.twitter">
      <a href="{{ user.links.twitter }}" target="_blank">
        <img
          class="social-image"
          src="/assets/images/icons/twitter.png"
          alt="twitter Icon"
        />
      </a>
    </div>
    <div class="social-link linkedIn-link" *ngIf="user.links.linkedin">
      <a href="{{ user.links.linkedin }}" target="_blank">
        <img
          class="social-image"
          src="/assets/images/icons/linkedin.png"
          alt="linkedIn Icon"
        />
      </a>
    </div>
  </div>
</mat-card>
