.overview-container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 1rem;
  position: relative;

  .chart-container {
    width: 100%;
  }

  .project-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}
