<div class="content">
  <div class="header">
    <div class="role">
      <img
        *ngIf="data?.companyLogo && !imageLoadError"
        [src]="data.companyLogo"
        (error)="handleImageError()"
        alt="Company Logo"
      />
      <h2 [innerHTML]="data.position"></h2>
    </div>
  </div>
  <div mat-dialog-content>
    <ng-scrollbar class="form-scroll">
      <div class="body">
        <div class="column">
          <div class="row">
            <div class="grid-item__title">{{
              "FORMS.COMPANY" | translate
            }}</div>
            <p [innerHTML]="data.company"></p>
          </div>

          <div class="row" *ngIf="data.salary">
            <div class="grid-item__title">Expected Salary</div>
            <p [innerHTML]="data.salary"></p>
          </div>

          <div class="row">
            <div class="grid-item__title">Location</div>
            <p>{{ location }}</p>
          </div>

          <div class="row">
            <div class="grid-item__title">{{ "FORMS.STACK" | translate }}</div>
            <div class="education-stack">
              <img
                *ngFor="let tech of data.stack"
                class="app-stack-icon__large"
                matTooltip="{{ tech.title }}"
                src="/assets/images/stack/{{ tech.name }}-original.svg"
              />
            </div>
          </div>

          <div class="row">
            <div class="grid-item__title">Provider</div>
            <a target="_blank" href="https://remoteok.com/remote-dev-jobs">
              Remote OK
            </a>
          </div>
        </div>

        <div class="column description-column">
          <div class="row">
            <div class="grid-item__title">{{
              "FORMS.DESCRIPTION" | translate
            }}</div>
            <p class="description-text" [innerHTML]="description"></p>
          </div>
        </div>
      </div>
    </ng-scrollbar>
  </div>

  <div class="body-actions">
    <a *ngIf="data.applyUrl" target="_blank" href="{{ data.applyUrl }}">
      <button mat-raised-button color="primary">Apply</button>
    </a>
    <a>
      <button mat-raised-button color="default" (click)="onCancel()">{{
        "ACTIONS.CLOSE" | translate
      }}</button>
    </a>
  </div>
</div>
