@import "src/styles/app-vars.scss";

.header {
  margin-bottom: 1rem;

  .role {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    align-items: center;

    img {
      height: 2rem;

      @media screen and (min-width: $breakpoint-tablet-large) {
        height: 3rem;
      }
    }

    h2 {
      margin: 0;
      font-size: 1.2rem;
    }
  }

  .actions {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
  }
}

.mat-dialog-content {
  padding: 0 12px 0 24px;

  .form-scroll {
    height: 27rem;
    margin-bottom: 1rem;
  }

  .body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-right: 1.5rem;

    @media screen and (min-width: $breakpoint-tablet-large) {
      grid-template-columns: 1fr 3fr;
    }

    .column {
      display: grid;
      grid-template-columns: 1fr;
      align-content: flex-start;
      gap: 1rem;

      .column-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        @media screen and (min-width: $breakpoint-tablet-large) {
          grid-template-columns: 1fr;
        }
      }

      &.description-column {
        align-content: space-between;
      }
    }

    .row {
      .grid-item__title {
        font-weight: 500;
        padding-bottom: 0.2rem;
      }
    }

    .education-stack {
      display: flex;
      flex-wrap: wrap;
      gap: 0.2rem;
    }
  }
}

.mat-standard-chip {
  min-height: 24px;
  font-size: 0.8rem;
}

.body-actions {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  gap: 1rem;
}
