<form class="form-grid" [formGroup]="form">
  <mat-form-field appearance="outline" *ngIf="hasPassword">
    <mat-label>{{ "FORMS.CURRENT_PASSWORD" | translate }}</mat-label>
    <input
      #currentPassword
      matInput
      [type]="hidePasswords ? 'password' : 'text'"
      formControlName="currentPasswordCtrl"
    />
    <span
      matSuffix
      class="material-symbols-outlined hide-icon"
      (click)="hidePasswords = !hidePasswords"
      >{{ hidePasswords ? "visibility_off" : "visibility" }}</span
    >
    <mat-error *ngIf="formControls.currentPasswordCtrl.hasError('required')">{{
      "FORMS.REQUIRED.CURRENT_PASSWORD" | translate
    }}</mat-error>
    <mat-error *ngIf="formControls.currentPasswordCtrl.hasError('pattern')">{{
      "FORMS.ERROR.PASSWORD_PATTERN" | translate
    }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ "FORMS.NEW_PASSWORD" | translate }}</mat-label>
    <input
      #newPassword
      matInput
      *ngIf="!tooltipHint"
      [type]="hidePasswords ? 'password' : 'text'"
      formControlName="newPasswordCtrl"
    />
    <input
      #newPassword
      matInput
      *ngIf="tooltipHint"
      #tooltip="matTooltip"
      matTooltip="{{ 'FORMS.ERROR.PASSWORD_PATTERN' | translate }}"
      matTooltipPosition="before"
      [matTooltipDisabled]="!passwordTooltipDisplay"
      [type]="hidePasswords ? 'password' : 'text'"
      formControlName="newPasswordCtrl"
    />
    <span
      matSuffix
      class="material-symbols-outlined hide-icon"
      (click)="hidePasswords = !hidePasswords"
      >{{ hidePasswords ? "visibility_off" : "visibility" }}</span
    >
    <mat-hint *ngIf="!tooltipHint">{{
      "FORMS.HINT.PASSWORD" | translate
    }}</mat-hint>
    <mat-error *ngIf="formControls.newPasswordCtrl.hasError('required')">{{
      "FORMS.REQUIRED.NEW_PASSWORD" | translate
    }}</mat-error>
    <mat-error
      *ngIf="!tooltipHint && formControls.newPasswordCtrl.hasError('pattern')"
      >{{ "FORMS.ERROR.PASSWORD_PATTERN" | translate }}</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ "FORMS.NEW_PASSWORD_CONFIRM" | translate }}</mat-label>
    <input
      #newPasswordConfirm
      matInput
      [type]="hidePasswords ? 'password' : 'text'"
      formControlName="newPasswordConfirmCtrl"
    />
    <span
      matSuffix
      class="material-symbols-outlined hide-icon"
      (click)="hidePasswords = !hidePasswords"
      >{{ hidePasswords ? "visibility_off" : "visibility" }}</span
    >
    <mat-error
      *ngIf="formControls.newPasswordConfirmCtrl.hasError('required')"
      >{{ "FORMS.REQUIRED.PASSWORD_CONFIRM" | translate }}</mat-error
    >
    <mat-error
      *ngIf="
        formControls.newPasswordConfirmCtrl?.hasError('mismatch') &&
        !formControls.newPasswordConfirmCtrl?.hasError('required')
      "
      >{{ "FORMS.ERROR.PASSWORD_CONFIRM" | translate }}</mat-error
    >
  </mat-form-field>
</form>
